html {
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

*,
*::before,
*::after {
  box-sizing: inherit; }

/**
 * Basic styles for links
 */
a {
  color: #213242;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #213242;
    text-decoration: none; }

/** 
  * Container
  */
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1300px; } }

@font-face {
  font-family: "GilroyRegular";
  src: url("../fonts/Radomir-Tinkov-Gilroy-Regular.otf"); }

@font-face {
  font-family: "GilroyMedium";
  src: url("../fonts/Radomir-Tinkov-Gilroy-Medium.otf"); }

@font-face {
  font-family: "GilroyBold";
  src: url("../fonts/Radomir-Tinkov-Gilroy-Bold.otf"); }

@font-face {
  font-family: "GilroySemiBold";
  src: url("../fonts/Radomir-Tinkov-Gilroy-SemiBold.otf"); }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf"); }

@font-face {
  font-family: "CairoRegular";
  src: url("../fonts/Cairo-Regular.ttf"); }

@font-face {
  font-family: "CairoMedium";
  src: url("../fonts/Cairo-Medium.ttf"); }

@font-face {
  font-family: "CairoBold";
  src: url("../fonts/Cairo-Bold.ttf"); }

@font-face {
  font-family: "CairoSemiBold";
  src: url("../fonts/Cairo-SemiBold.ttf"); }

@font-face {
  font-family: "CairoExtraBold";
  src: url("../fonts/Cairo-ExtraBold.ttf"); }

body {
  color: #213242;
  font: normal 125% / 1.4 'GilroyRegular'; }

[dir=rtl] body {
  text-align: right; }

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1185px; } }

main {
  min-height: calc(100vh - 696px); }
  main > p {
    display: none !important; }

.section {
  padding: 40px 0; }
  @media (max-width: 991px) {
    .section {
      padding: 20px 0 !important; } }

.section__header {
  padding-left: 50px; }
  @media (max-width: 991px) {
    .section__header {
      padding: 0 !important; } }
  .section__header .section__txt {
    font-size: 16px;
    display: none; }
  .section__header .section__title {
    font-family: 'GilroyExtraBold';
    font-size: 48px;
    margin-bottom: 27px;
    line-height: 1; }
    @media (max-width: 991px) {
      .section__header .section__title {
        font-size: 25px; } }
  .section__header .section__desc {
    font-size: 16px;
    margin-bottom: 9px;
    line-height: 1.7;
    color: #75799D; }
    @media (max-width: 991px) {
      .section__header .section__desc {
        margin-bottom: 15px;
        width: 100%; } }
  .section__header ul {
    margin-bottom: 40px; }
    .section__header ul li {
      font-size: 16px;
      margin-bottom: 24px;
      display: flex;
      align-items: center; }
      .section__header ul li img {
        max-width: 25px; }
      .section__header ul li span {
        margin-left: 15px;
        font-family: 'GilroyBold'; }

@media (max-width: 991px) {
  .section-image {
    margin: 15px 0; } }

@media (max-width: 991px) {
  .section-image img {
    width: 100%; } }

@media (max-width: 991px) {
  .bg-layer {
    background: linear-gradient(#dbe4f1 0%, #fff 100%); } }

.banner__layer {
  background-color: #0033a5;
  padding: 50px 60px;
  border-radius: 20px;
  margin: 50px 0;
  background-image: url("../images/curve.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 314px -419px; }
  @media (max-width: 991px) {
    .banner__layer {
      padding: 40px 22px; } }
  .banner__layer .row {
    align-items: flex-end; }
  .banner__layer-info {
    color: #fff;
    position: relative;
    left: -10px;
    top: 13px; }
    @media (max-width: 991px) {
      .banner__layer-info {
        position: static; } }
    .banner__layer-info h2 {
      font-family: 'GilroyBold';
      font-size: 48px;
      margin-bottom: 30px; }
      @media (max-width: 991px) {
        .banner__layer-info h2 {
          font-size: 29px; } }
    .banner__layer-info p {
      font-family: 'GilroyRegular';
      font-size: 16px; }
      @media (max-width: 991px) {
        .banner__layer-info p {
          margin: 25px 0 50px 0; } }
  .banner__layer-btn {
    text-align: right; }

.section-ltr {
  position: relative; }
  .section-ltr .circles {
    position: absolute;
    left: -136px; }
    @media (max-width: 991px) {
      .section-ltr .circles {
        display: none; } }
    .section-ltr .circles img {
      height: 652px; }
    .section-ltr .circles.medium-size {
      left: -125px; }
      .section-ltr .circles.medium-size img {
        height: 590px; }
    .section-ltr .circles.small-size {
      left: -90px; }
      .section-ltr .circles.small-size img {
        height: 420px; }
  .section-ltr .row {
    align-items: center; }

.section-rtl {
  position: relative;
  overflow: hidden; }
  .section-rtl .circles {
    position: absolute;
    right: -136px; }
    @media (max-width: 991px) {
      .section-rtl .circles {
        display: none; } }
    .section-rtl .circles img {
      height: 652px; }
    .section-rtl .circles.small-size {
      right: -90px; }
      .section-rtl .circles.small-size img {
        height: 420px; }
  .section-rtl .row {
    align-items: center; }

.header-fixed.pd {
  padding-top: 130px; }

header {
  width: 100%;
  z-index: 999;
  padding-top: 40px;
  margin-bottom: 30px; }
  header.fixed {
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.1);
    padding-top: 0;
    top: 0; }
  header .container {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  @media (max-width: 991px) {
    header {
      z-index: 9999;
      background: #fff;
      left: 0;
      right: 0;
      top: 0;
      padding: 0px 20px;
      box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.1); } }
  header .logo {
    display: block;
    max-width: 140px; }
    @media (max-width: 991px) {
      header .logo {
        max-width: 115px; } }
    header .logo img {
      width: 100%; }
  header .nav-links {
    display: flex;
    align-items: center;
    margin: 5px -74px 0 0; }
    @media (max-width: 991px) {
      header .nav-links {
        margin: 0; } }
    header .nav-links li {
      margin-left: 25px; }
      header .nav-links li.get-stated-free-link {
        display: flex;
        align-items: center;
        position: relative;
        left: -10px; }
        header .nav-links li.get-stated-free-link .ar-lang {
          color: #717171;
          font-family: 'CairoExtraBold'; }
      @media (max-width: 991px) {
        header .nav-links li {
          display: none; }
          header .nav-links li.bars-icon {
            display: block;
            margin-left: 20px !important; }
          header .nav-links li.login-link {
            display: block; }
          header .nav-links li.get-stated-free-link {
            display: none; } }
      header .nav-links li:nth-child(-n + 6) {
        margin-left: 36px; }
      header .nav-links li a {
        font-size: 16px;
        display: block; }

[dir=rtl] .login-link {
  margin-left: 0 !important; }

[dir=rtl] .get-stated-free-link .register {
  margin-left: 10px !important; }

@media (max-width: 991px) {
  [dir=rtl] header .nav-links li.bars-icon {
    margin-left: 0 !important;
    margin-right: 20px !important; } }

footer {
  background-color: #0033a5; }
  @media (max-width: 991px) {
    footer .footer__item {
      margin-bottom: 25px; } }
  footer .footer__item h2 {
    font-size: 20px;
    font-family: 'GilroyBold';
    color: #fff;
    margin-bottom: 20px; }
  footer .footer__item a {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #fff; }
    footer .footer__item a.logo {
      margin-top: 25px; }
    footer .footer__item a i {
      margin-right: 10px; }
  footer hr {
    border: 0;
    height: 1px;
    display: block;
    background-color: #fff;
    margin: 25px 0; }
  footer .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 16px; }
    @media (max-width: 991px) {
      footer .footer-bottom {
        margin-bottom: 35px;
        flex-direction: column; } }
    footer .footer-bottom a {
      color: #fff;
      font-size: 14px; }
      @media (max-width: 991px) {
        footer .footer-bottom a {
          font-size: 12px; } }
    @media (max-width: 991px) {
      footer .footer-bottom .copyright {
        font-size: 12px; } }
    @media (max-width: 991px) {
      footer .footer-bottom .copyright i {
        display: block; } }
    @media (max-width: 991px) {
      footer .footer-bottom .copyright {
        margin-bottom: 15px; } }

[dir=rtl] .footer__item i {
  transform: rotate(-180deg);
  margin-right: 0; }

@media (max-width: 991px) {
  [dir=rtl] .footer-bottom {
    align-items: flex-start; } }

.main-btn {
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'GilroyBold';
  font-size: 16px;
  display: inline-block;
  margin-right: 10px;
  background-color: #0000FF;
  color: #fff; }
  .main-btn:hover {
    color: #0000FF;
    border: 1px solid #0000FF;
    background-color: transparent; }
  @media (max-width: 991px) {
    .main-btn {
      padding: 10px;
      font-size: 14px; } }

.sub-btn {
  padding: 9px 16px;
  border: 2px solid #0000FF;
  border-radius: 9px;
  background-color: transparent;
  display: inline-block;
  font-family: 'GilroyMedium';
  font-size: 16px;
  color: #0000FF; }
  .sub-btn:hover {
    color: #fff;
    border: 2px solid transparent;
    background-color: #0000FF; }
  @media (max-width: 991px) {
    .sub-btn {
      font-size: 14px !important;
      padding: 5px 16px; } }

.free-btn {
  width: 297px;
  height: 72px;
  border-radius: 8px;
  text-align: center;
  line-height: 72px;
  font-family: Gilroy;
  font-size: 20px;
  color: #fff;
  padding: 20px 40px;
  margin: auto;
  text-transform: uppercase;
  font-family: 'GilroyBold';
  background: linear-gradient(#9eef00 0%, #5d8d00 100%); }
  @media (max-width: 991px) {
    .free-btn {
      width: 100%;
      height: auto;
      line-height: normal;
      font-size: 18px;
      padding: 20px 10px;
      display: block; } }

section .main-btn {
  padding: 0 30px;
  height: 60px;
  line-height: 60px; }
  @media (max-width: 991px) {
    section .main-btn {
      padding: 0 12px; } }

section .sub-btn {
  padding: 0 20px;
  height: 60px;
  line-height: 58px; }
  @media (max-width: 991px) {
    section .sub-btn {
      padding: 0 10px; } }

.mega-menu {
  position: fixed;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 100px 0;
  z-index: 99999;
  transition: left 0.2s; }
  .mega-menu.open {
    left: 0; }
  @media (max-width: 991px) {
    .mega-menu {
      overflow-y: auto; } }

.close-icon {
  font-size: 30px;
  position: absolute;
  right: 156px;
  width: 50px;
  top: 55px;
  height: 50px;
  line-height: 50px;
  background-color: #E4EBF2;
  color: #000;
  text-align: center;
  border-radius: 50%;
  cursor: pointer; }
  @media (max-width: 991px) {
    .close-icon {
      right: 15px; } }

.left-side {
  display: flex;
  flex-wrap: wrap;
  border-right: 2px solid #333; }
  @media (max-width: 991px) {
    .left-side {
      border: 0 !important;
      border-bottom: 2px solid #333 !important; } }

.menu-item {
  width: 48%;
  margin-bottom: 60px; }
  @media (max-width: 991px) {
    .menu-item {
      width: 100%; } }
  .menu-item h2 {
    font-family: 'GilroyExtraBold';
    font-size: 54px;
    color: #181c32;
    text-decoration: underline; }
    @media (max-width: 991px) {
      .menu-item h2 {
        font-size: 38px; } }
  .menu-item a {
    display: inline-block;
    text-decoration: underline;
    font-size: 16px; }

.right-side > a {
  font-size: 40px;
  text-decoration: underline;
  font-family: 'GilroyExtraBold';
  display: block; }
  .right-side > a:first-of-type {
    text-decoration: none;
    margin-bottom: 20px; }

.right-side-col {
  margin-top: 50px;
  display: flex; }
  .right-side-col h2 {
    text-decoration: none; }
  .right-side-col a {
    display: block; }

[dir=rtl] .mega-menu {
  left: auto;
  right: -100%;
  transition: right 0.2s; }
  [dir=rtl] .mega-menu.open {
    left: auto;
    right: 0; }
  [dir=rtl] .mega-menu .left-side {
    border-right: 0;
    border-left: 2px solid #333; }
  [dir=rtl] .mega-menu .industry-menu-link {
    display: flex;
    align-items: center; }
    [dir=rtl] .mega-menu .industry-menu-link > span {
      order: 2; }
    [dir=rtl] .mega-menu .industry-menu-link > i {
      transform: rotate(180deg); }
  [dir=rtl] .mega-menu .close-icon {
    right: auto;
    left: 15px; }

.industry-menu {
  position: fixed;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 55px 0;
  z-index: 999999;
  transition: left 0.2s; }
  .industry-menu.open {
    left: 0; }
  @media (max-width: 991px) {
    .industry-menu {
      overflow-y: auto; } }
  .industry-menu .container .menu__layer {
    min-height: 68px; }
    .industry-menu .container .menu__layer > div {
      display: flex;
      align-items: center;
      position: absolute;
      left: 100px; }
      @media (max-width: 991px) {
        .industry-menu .container .menu__layer > div {
          position: static;
          display: block;
          flex-direction: column;
          left: auto; } }
      .industry-menu .container .menu__layer > div i {
        margin-right: 5px; }
        @media (max-width: 991px) {
          .industry-menu .container .menu__layer > div i {
            margin-bottom: 45px; } }
    .industry-menu .container .menu__layer form {
      max-width: 450px;
      margin: auto; }
      @media (max-width: 991px) {
        .industry-menu .container .menu__layer form {
          min-width: 100%; } }
    .industry-menu .container .menu__layer .back-icon {
      font-size: 25px; }
    .industry-menu .container .menu__layer h2 {
      font-family: 'GilroyExtraBold'; }
    .industry-menu .container .menu__layer .close-icon {
      right: 50px; }
      @media (max-width: 991px) {
        .industry-menu .container .menu__layer .close-icon {
          right: 18px; } }
    .industry-menu .container .menu__layer .form-item {
      position: relative; }
      .industry-menu .container .menu__layer .form-item input {
        position: absolute;
        width: 100%;
        left: 0;
        border: 0;
        border-bottom: 2px solid #222;
        padding-left: 35px;
        height: 55px;
        outline: 0; }
      .industry-menu .container .menu__layer .form-item i {
        position: absolute;
        left: 0;
        font-size: 25px;
        z-index: 10;
        top: 12px; }
  .industry-menu .container .menu__content {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 80vh;
    overflow-y: auto; }
    @media (max-width: 991px) {
      .industry-menu .container .menu__content {
        max-height: none;
        padding-top: 80px; } }
    .industry-menu .container .menu__content .menu__item {
      color: #000;
      margin-bottom: 15px;
      width: 32%;
      padding: 15px 25px; }
      @media (max-width: 991px) {
        .industry-menu .container .menu__content .menu__item {
          padding: 15px 5px;
          width: 100%; } }
      .industry-menu .container .menu__content .menu__item img {
        margin-right: 15px;
        max-width: 45px; }
      .industry-menu .container .menu__content .menu__item span {
        font-family: 'GilroyExtraBold'; }
      .industry-menu .container .menu__content .menu__item:hover {
        box-shadow: 0px 10px 18px rgba(0, 0, 255, 0.1); }
        .industry-menu .container .menu__content .menu__item:hover span {
          background-color: #DBDBFF;
          color: #0000FF; }

[dir=rtl] .industry-menu {
  left: auto;
  right: -100%;
  transition: right 0.2s; }
  [dir=rtl] .industry-menu.open {
    left: auto;
    right: 0; }
  [dir=rtl] .industry-menu .container .menu__layer > div {
    left: auto;
    right: 100px; }
  [dir=rtl] .industry-menu .container .menu__layer .form-item {
    position: relative; }
    [dir=rtl] .industry-menu .container .menu__layer .form-item input {
      padding-left: 0;
      padding-right: 35px; }
    [dir=rtl] .industry-menu .container .menu__layer .form-item i {
      left: auto;
      right: 0; }
  [dir=rtl] .industry-menu .close-icon {
    right: auto !important;
    left: 15px; }

.section-intro {
  position: relative;
  min-height: 650px;
  padding-top: 50px; }
  @media (max-width: 575px) {
    .section-intro {
      padding-top: 55px; } }
  .section-intro:before {
    content: "";
    background-image: url("../images/home-cover.png");
    background-size: cover;
    position: absolute;
    top: -139px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: 0 -43px; }
  @media (min-width: 991px) {
    .section-intro > .container {
      padding: 0; } }

.section-intro-content .row {
  align-items: center; }

.section-intro-content .section-intro-info .intro__title {
  font-size: 54px;
  line-height: 1.3;
  font-family: "GilroyExtraBold";
  margin-bottom: 30px;
  margin-top: 10px; }
  @media (max-width: 991px) {
    .section-intro-content .section-intro-info .intro__title {
      margin-bottom: 10px;
      margin-top: 30px;
      font-size: 33px; } }

.section-intro-content .section-intro-info .intro__desc {
  font-size: 16px;
  margin-bottom: 12px;
  color: #6b6b6e;
  line-height: 1.8;
  position: relative;
  top: -1px;
  left: 5px; }
  @media (max-width: 991px) {
    .section-intro-content .section-intro-info .intro__desc {
      margin-bottom: 20px; } }

.section-intro-content .section-intro-info .intro__actions {
  display: flex;
  position: relative;
  top: 8px; }
  @media (max-width: 991px) {
    .section-intro-content .section-intro-info .intro__actions {
      position: static; } }
  .section-intro-content .section-intro-info .intro__actions a {
    margin-right: 20px; }
    @media (max-width: 991px) {
      .section-intro-content .section-intro-info .intro__actions a {
        margin-right: 3px; } }

.section-intro-content .section-intro-info .intro__options {
  display: flex;
  margin: 71px 0 25px 0; }
  @media (max-width: 991px) {
    .section-intro-content .section-intro-info .intro__options {
      margin: 35px 0 25px 0;
      flex-direction: column; } }
  .section-intro-content .section-intro-info .intro__options li {
    font-size: 14px;
    margin-right: 33px; }
    @media (max-width: 991px) {
      .section-intro-content .section-intro-info .intro__options li {
        margin-right: 0; } }
    .section-intro-content .section-intro-info .intro__options li i {
      margin-right: 5px;
      color: #0000FF; }

.section-intro-content .intro-img {
  position: relative;
  left: 48px;
  top: -17px;
  transform: scale(1.1); }
  @media (max-width: 991px) {
    .section-intro-content .intro-img {
      transform: scale(1);
      position: static; } }
  .section-intro-content .intro-img img {
    width: 100%; }

.plugins {
  padding-top: 0px;
  position: relative; }
  @media (max-width: 991px) {
    .plugins {
      overflow-x: hidden; } }
  .plugins .plugins__img {
    position: absolute;
    right: 0; }
    @media (max-width: 991px) {
      .plugins .plugins__img {
        right: -120px; } }
  .plugins .plugins__content {
    margin: 62px 0 0px 0;
    padding: 0px 0 0 60px; }
    @media (max-width: 991px) {
      .plugins .plugins__content {
        padding: 0;
        margin: 20px 0; } }
    .plugins .plugins__content .plugins__item {
      position: relative;
      padding-left: 50px;
      margin-bottom: 70px;
      margin-top: 7px; }
      @media (max-width: 991px) {
        .plugins .plugins__content .plugins__item {
          margin-bottom: 35px; } }
      .plugins .plugins__content .plugins__item._item {
        padding-left: 65px; }
        @media (max-width: 991px) {
          .plugins .plugins__content .plugins__item._item {
            padding-left: 50px; } }
        .plugins .plugins__content .plugins__item._item img {
          left: 12px; }
          @media (max-width: 991px) {
            .plugins .plugins__content .plugins__item._item img {
              left: 0; } }
      .plugins .plugins__content .plugins__item.__item {
        padding-left: 72px; }
        @media (max-width: 991px) {
          .plugins .plugins__content .plugins__item.__item {
            padding-left: 50px; } }
        .plugins .plugins__content .plugins__item.__item img {
          left: 22px; }
          @media (max-width: 991px) {
            .plugins .plugins__content .plugins__item.__item img {
              left: 0; } }
      .plugins .plugins__content .plugins__item img {
        position: absolute;
        left: 0;
        top: -3px;
        width: 30px;
        height: 33px; }
      .plugins .plugins__content .plugins__item h2 {
        font-family: "GilroyBold";
        font-size: 24px; }
      .plugins .plugins__content .plugins__item p {
        font-family: "GilroyRegular";
        font-size: 16px;
        color: #75799d;
        width: 92%; }
        @media (max-width: 991px) {
          .plugins .plugins__content .plugins__item p {
            width: 90%; } }
  .plugins .plugins__layer .row {
    align-items: center; }
  .plugins .plugins__layer-info {
    color: #fff; }
    .plugins .plugins__layer-info h2 {
      margin-bottom: 0px; }
  .plugins .plugins__layer-btn {
    text-align: center; }

.sales {
  padding-top: 32px; }
  .sales .section__header {
    padding-left: 35px; }
    .sales .section__header .section__txt {
      margin-bottom: 35px; }
    .sales .section__header .section__title {
      margin-bottom: 48px; }
    .sales .section__header .section__desc {
      margin-bottom: 36px; }
  .sales .section-image {
    position: relative;
    left: 14px;
    top: 5px; }
    @media (max-width: 991px) {
      .sales .section-image {
        position: static; } }
  @media (max-width: 991px) {
    .sales .sales__actions {
      margin: 0 0 30px 0; } }

.accounting .section-image img {
  position: relative;
  left: -61px;
  top: 0px;
  width: 117% !important; }
  @media (max-width: 991px) {
    .accounting .section-image img {
      width: 100% !important;
      position: static; } }

.accounting .section__header {
  padding-left: 33px; }
  .accounting .section__header ul li span {
    margin-left: 22px; }
  .accounting .section__header .section__txt {
    margin-bottom: 38px;
    margin-top: -6px; }
  .accounting .section__header .section__title {
    margin-bottom: 44px; }
  .accounting .section__header .section__desc {
    margin-bottom: 17px;
    margin-top: 25px; }

.accounting .sales__actions {
  margin-left: 10px; }
  @media (max-width: 991px) {
    .accounting .sales__actions {
      margin-left: 0; } }

.operations .section__header {
  padding-left: 27px; }
  .operations .section__header ul li span {
    margin-left: 22px; }
  .operations .section__header .section__txt {
    margin-bottom: 36px;
    margin-top: 25px;
    padding-left: 9px; }
  .operations .section__header .section__title {
    margin-bottom: 51px; }
  .operations .section__header .section__desc {
    margin-bottom: 42px;
    margin-top: 43px;
    padding-left: 8px; }
  .operations .section__header ul {
    padding-left: 8px; }
    @media (max-width: 991px) {
      .operations .section__header ul {
        padding-left: 0; } }

.operations .section-image img {
  position: relative;
  left: -40px;
  width: 117% !important;
  top: 16px; }
  @media (max-width: 991px) {
    .operations .section-image img {
      position: static;
      width: 100% !important; } }

.operations .operation__actions {
  position: relative;
  top: 11px; }
  @media (max-width: 991px) {
    .operations .operation__actions {
      position: static; } }

.operations .operations__layer {
  margin-top: 185px; }
  .operations .operations__layer .banner__layer-info {
    position: relative;
    left: -10px;
    top: 13px; }
    @media (max-width: 991px) {
      .operations .operations__layer .banner__layer-info {
        position: static; } }
    .operations .operations__layer .banner__layer-info h2 {
      margin-bottom: 33px; }
  .operations .operations__layer .banner__layer-btn {
    position: relative;
    top: 69px;
    left: -9px; }
    @media (max-width: 991px) {
      .operations .operations__layer .banner__layer-btn {
        position: static; } }

.customer .section__header {
  padding-left: 28px; }
  .customer .section__header .section__txt {
    margin-top: -6px;
    padding-left: 8px;
    margin-bottom: 47px; }
  .customer .section__header .section__title {
    margin-bottom: 40px;
    margin-top: -10px;
    padding-left: 0px; }
  .customer .section__header .section__desc {
    padding-left: 6px;
    margin-bottom: 43px;
    margin-top: 45px; }
  .customer .section__header ul {
    padding-left: 10px; }
    @media (max-width: 991px) {
      .customer .section__header ul {
        padding-left: 0; } }

.customer .section-image img {
  position: relative;
  top: 2px;
  left: -12px; }
  @media (max-width: 991px) {
    .customer .section-image img {
      position: static; } }

.inventory {
  padding-top: 114px; }
  .inventory .section-image img {
    position: relative;
    left: -61px;
    top: 0px;
    width: 117% !important; }
    @media (max-width: 991px) {
      .inventory .section-image img {
        width: 100% !important;
        position: static; } }
  .inventory .section__header {
    padding-left: 34px; }
    .inventory .section__header .section__txt {
      position: relative;
      top: -10px; }
      @media (max-width: 991px) {
        .inventory .section__header .section__txt {
          position: static; } }
    .inventory .section__header .section__title {
      position: relative;
      top: -25px; }
      @media (max-width: 991px) {
        .inventory .section__header .section__title {
          position: static; } }
    .inventory .section__header .section__desc {
      position: relative;
      top: -2px;
      margin-bottom: 38px; }
      @media (max-width: 991px) {
        .inventory .section__header .section__desc {
          position: static; } }
  .inventory .inventory__actions {
    position: relative;
    top: 9px; }
    @media (max-width: 991px) {
      .inventory .inventory__actions {
        position: static; } }

.hrm .section-image img {
  position: relative;
  left: -28px;
  top: 3px; }
  @media (max-width: 991px) {
    .hrm .section-image img {
      position: static; } }

.hrm .section__header {
  padding-left: 25px; }
  .hrm .section__header .section__txt {
    position: relative;
    left: 9px;
    top: -3px; }
    @media (max-width: 991px) {
      .hrm .section__header .section__txt {
        position: static; } }
  .hrm .section__header .section__title {
    position: relative;
    top: -16px;
    left: 7px; }
    @media (max-width: 991px) {
      .hrm .section__header .section__title {
        position: static; } }
  .hrm .section__header .section__desc {
    position: relative;
    top: 3px;
    left: 8px;
    margin-bottom: 46px; }
    @media (max-width: 991px) {
      .hrm .section__header .section__desc {
        position: static; } }
  .hrm .section__header ul {
    padding-left: 15px; }
    @media (max-width: 991px) {
      .hrm .section__header ul {
        padding-left: 0; } }

.hrm .hrm__actions {
  position: relative;
  left: 9px; }
  @media (max-width: 991px) {
    .hrm .hrm__actions {
      position: static; } }

.free-trial {
  border-radius: 0;
  margin-bottom: 0; }
  .free-trial.banner__layer {
    margin-top: 106px; }
  .free-trial .banner__layer-info {
    padding-left: 57px;
    padding-top: 6px; }
    @media (max-width: 991px) {
      .free-trial .banner__layer-info {
        padding: 0; } }
    .free-trial .banner__layer-info p {
      position: relative;
      top: -19px;
      line-height: 1.7; }
      @media (max-width: 991px) {
        .free-trial .banner__layer-info p {
          position: static; } }
    .free-trial .banner__layer-info .free-btn {
      position: relative;
      top: 9px; }
      @media (max-width: 991px) {
        .free-trial .banner__layer-info .free-btn {
          position: static; } }
  .free-trial .row {
    justify-content: space-between; }
  .free-trial-info h2 {
    margin-bottom: 0; }
  @media (max-width: 991px) {
    .free-trial .logo-layer {
      margin: 0 0 50px 0; } }
  .free-trial .logo-layer img {
    margin-right: 53px;
    position: relative;
    bottom: -21px; }
    @media (max-width: 991px) {
      .free-trial .logo-layer img {
        width: 40%;
        position: static;
        margin: 0; } }

.promises {
  background: #f9fafb; }
  .promises__header {
    background: url("../images/header-layer.png");
    background-size: cover;
    background-position: center;
    position: relative;
    top: 90px; }
    .promises__header h2 {
      font-family: "GilroyExtraBold";
      font-size: 47px;
      margin-bottom: 30px;
      position: relative;
      left: 53px; }
      @media (max-width: 991px) {
        .promises__header h2 {
          font-size: 35px;
          position: static; } }
      .promises__header h2 span {
        color: #0000FF; }
    .promises__header p {
      font-size: 18px;
      margin: 39px 0 0 49px; }
      @media (max-width: 991px) {
        .promises__header p {
          margin: 0; } }
  .promises__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top: 140px;
    margin-top: 25px; }
    .promises__content_card {
      width: 275px;
      border-radius: 20px;
      margin-bottom: 25px;
      background: #fff;
      box-shadow: -30px 4px 30px rgba(0, 0, 0, 0.05);
      padding: 30px;
      position: relative;
      z-index: 2; }
      @media (max-width: 991px) {
        .promises__content_card {
          margin-bottom: 0;
          width: 100%;
          box-shadow: 4px -30px 30px rgba(0, 0, 0, 0.05); } }
      .promises__content_card:after {
        content: "";
        border-radius: 0 20px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0;
        background-color: #0000FF;
        z-index: -1;
        transition: height .2s; }
      .promises__content_card:hover:after {
        height: 65%; }
      .promises__content_card:hover h2 {
        color: #fff; }
      .promises__content_card:hover p {
        color: #fff; }
      .promises__content_card h2 {
        font-size: 20px;
        font-family: "GilroyBold";
        margin: 20px 0; }
        @media (max-width: 991px) {
          .promises__content_card h2 {
            margin-bottom: 0; } }
      .promises__content_card p {
        font-size: 16px;
        margin-bottom: 0; }

.easier .container .row {
  align-items: center; }

.easier__header {
  background: url("../images/rounded-layer.png");
  background-size: cover;
  background-position: center;
  height: 700px;
  background-size: cover;
  padding-top: 165px;
  margin-bottom: 350px; }
  @media (max-width: 991px) {
    .easier__header {
      height: 340px; } }
  .easier__header h2 {
    font-family: "GilroyExtraBold";
    font-size: 49px;
    margin-bottom: 30px; }
    @media (max-width: 991px) {
      .easier__header h2 {
        font-size: 26px; } }
    .easier__header h2 span {
      color: #0000FF; }
  .easier__header p {
    font-size: 16px; }
    @media (max-width: 991px) {
      .easier__header p {
        padding: 0 10px; } }
  .easier__header img {
    position: relative;
    top: 33px; }
    @media (max-width: 991px) {
      .easier__header img {
        width: 100%;
        top: 30px;
        max-width: 500px; } }

.easier__info {
  padding: 68px 0 0 32px; }
  .easier__info.l2 {
    padding: 44px 0 0 32px; }
    .easier__info.l2 h2 {
      font-size: 46px; }
  @media (max-width: 991px) {
    .easier__info {
      padding: 5px !important; } }
  .easier__info h2 {
    font-family: "GilroyExtraBold";
    font-size: 48px;
    margin-bottom: 40px; }
    @media (max-width: 991px) {
      .easier__info h2 {
        font-size: 35px !important; } }
  .easier__info p {
    font-size: 16px;
    color: #75799D;
    line-height: 1.7; }

@media (max-width: 991px) {
  .easier .easier-bg {
    width: 100%; } }

.features {
  background-image: url("../images/curved-layer.png");
  background-size: cover;
  background-position: -232px;
  padding-top: 150px; }
  @media (max-width: 991px) {
    .features {
      background-size: contain;
      background-repeat: no-repeat;
      padding-top: 50px; } }
  .features h2 {
    font-size: 47px;
    text-align: center;
    font-family: "GilroyExtraBold";
    margin: 30px 0 65px 0; }
    @media (max-width: 991px) {
      .features h2 {
        font-size: 30px;
        margin: 5px 0 40px 0; } }
    .features h2 span {
      color: #0000FF; }
  .features .feature__content .feature__item {
    display: flex;
    margin: 10px 0 19px 0;
    align-items: center;
    font-size: 16px; }
    .features .feature__content .feature__item img {
      width: 32px;
      height: 32px; }
    .features .feature__content .feature__item span {
      margin-left: 20px; }
  .features .main-btn {
    padding: 24px 50px;
    display: block;
    width: 382px;
    text-align: center;
    margin: 81px auto 20px auto;
    height: auto;
    line-height: 1;
    letter-spacing: 1px; }
    @media (max-width: 991px) {
      .features .main-btn {
        width: 70% !important; } }

.links .noneed__layer {
  margin: 0px; }
  .links .noneed__layer.banner__layer {
    margin: -10px; }
    @media (max-width: 991px) {
      .links .noneed__layer.banner__layer {
        margin: 0px; } }
  .links .noneed__layer .banner__layer-info {
    padding-left: 11px; }
    @media (max-width: 991px) {
      .links .noneed__layer .banner__layer-info {
        padding-left: 0px; } }
  .links .noneed__layer .row {
    justify-content: space-between; }
  .links .noneed__layer-info h2 {
    margin-bottom: 30px; }

.links .layers-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 115px 0 50px 0; }
  @media (max-width: 575px) {
    .links .layers-logos {
      margin: 25px 0 50px 0; } }
  .links .layers-logos img {
    width: auto;
    max-height: auto; }
    @media (max-width: 991px) {
      .links .layers-logos img {
        margin-bottom: 20px;
        display: block; } }
  @media (max-width: 991px) {
    .links .layers-logos {
      display: block; } }

.download {
  padding-top: 0; }
  .download .container .row {
    align-items: center; }
  .download .section__header {
    padding-left: 0;
    margin-top: -23px;
    margin-left: -16px; }
    @media (max-width: 575px) {
      .download .section__header {
        margin-left: 0px;
        margin-top: 0; } }
    .download .section__header .section__title {
      margin-bottom: 46px; }
    .download .section__header .section__desc {
      margin-bottom: 23px; }
  .download .download__actions {
    margin: 71px 2px; }
    @media (max-width: 575px) {
      .download .download__actions {
        margin: 20px 0; } }
    .download .download__actions a {
      display: inline-block;
      max-width: 291px;
      margin-right: 18px; }
      .download .download__actions a img {
        width: 100%; }
      @media (max-width: 575px) {
        .download .download__actions a {
          max-width: 100%;
          margin-bottom: 25px;
          display: block; } }
      @media (max-width: 991px) {
        .download .download__actions a {
          max-width: 40%;
          margin: 0;
          display: inline-block; } }

[dir="rtl"] .feature__item span {
  margin-left: 0 !important;
  margin-right: 20px !important; }

[dir="rtl"] .plugins .plugins__img {
  right: auto;
  left: 0;
  transform: rotate(180deg); }

.module .section-intro-content .intro__title {
  margin-top: 0; }

.free-module {
  padding-top: 120px;
  padding-bottom: 0; }
  .free-module .row {
    align-items: center; }

.track-sales {
  padding-top: 115px; }
  .track-sales .section__header .section__title {
    margin-top: 0;
    margin-bottom: 45px; }
  .track-sales .section__header .section__desc {
    margin-bottom: 31px; }
  .track-sales .sales__actions {
    margin-top: 50px; }
    @media (max-width: 991px) {
      .track-sales .sales__actions {
        margin-top: 10px; } }

.section-quotes {
  padding-top: 152px; }
  .section-quotes .section__header {
    padding-left: 38px; }
    .section-quotes .section__header .section__title {
      margin-top: 22px;
      margin-bottom: 44px; }

.register-customer {
  padding-top: 189px; }
  .register-customer .section__header {
    padding-left: 40px; }
    .register-customer .section__header .section__title {
      margin-bottom: 58px; }

.boost-sales {
  padding-top: 39px; }
  .boost-sales h2 {
    font-family: 'GilroyBold';
    font-size: 48px;
    text-align: center;
    color: #181c32; }
    @media (max-width: 991px) {
      .boost-sales h2 {
        font-size: 32px; } }
    .boost-sales h2 span {
      color: #0000FB; }
  .boost-sales .boost-sales-items {
    display: flex;
    text-align: center;
    width: 83%;
    margin: 45px auto 0 auto; }
    @media (max-width: 991px) {
      .boost-sales .boost-sales-items {
        flex-wrap: wrap; } }
    .boost-sales .boost-sales-items .boost-sales-item {
      margin-right: 5.6%;
      width: 15%; }
      @media (max-width: 991px) {
        .boost-sales .boost-sales-items .boost-sales-item {
          width: 50%;
          margin-right: 0;
          margin-bottom: 20px; }
          .boost-sales .boost-sales-items .boost-sales-item:first-of-type {
            order: 5; }
          .boost-sales .boost-sales-items .boost-sales-item:nth-of-type(2) {
            order: 2; }
          .boost-sales .boost-sales-items .boost-sales-item:nth-of-type(3) {
            order: 3; }
          .boost-sales .boost-sales-items .boost-sales-item:nth-of-type(4) {
            order: 1; }
          .boost-sales .boost-sales-items .boost-sales-item:last-of-type {
            order: 4; } }
      .boost-sales .boost-sales-items .boost-sales-item:last-of-type {
        order: 4;
        margin-right: 0; }
      .boost-sales .boost-sales-items .boost-sales-item > div {
        min-height: 85px; }
        @media (max-width: 991px) {
          .boost-sales .boost-sales-items .boost-sales-item > div {
            min-height: 55px; } }
      .boost-sales .boost-sales-items .boost-sales-item img {
        display: block;
        width: 69px;
        margin: 11px auto; }
        @media (max-width: 991px) {
          .boost-sales .boost-sales-items .boost-sales-item img {
            width: 44px; } }
      .boost-sales .boost-sales-items .boost-sales-item span {
        font-size: 20px;
        font-family: 'GilroyExtraBold';
        text-decoration: underline; }
        @media (max-width: 991px) {
          .boost-sales .boost-sales-items .boost-sales-item span {
            font-size: 16px; } }

.customize-industry {
  background-image: url(../images/customize-ind.png);
  height: 847px;
  background-position: -330px -26px;
  background-size: 2344px; }
  @media (max-width: 991px) {
    .customize-industry {
      height: auto; } }
  @media (min-width: 1600px) {
    .customize-industry {
      background-position: -330px -127px;
      background-size: 2849px; } }
  .customize-industry .customize-info {
    width: 50%;
    margin: auto;
    text-align: center; }
    @media (max-width: 991px) {
      .customize-industry .customize-info {
        width: auto; } }
    .customize-industry .customize-info img {
      margin-bottom: 40px;
      width: 34%; }
      @media (max-width: 991px) {
        .customize-industry .customize-info img {
          width: 100px;
          margin-bottom: 20px; } }
    .customize-industry .customize-info h2 {
      font-size: 50px;
      margin-top: 25px;
      font-family: 'GilroyExtraBold'; }
      @media (max-width: 991px) {
        .customize-industry .customize-info h2 {
          font-size: 25px; } }

.promises.promises-modules {
  top: 109px; }

.promises .banner__layer {
  margin-top: 245px; }

.free-m .row {
  align-items: center; }

.industry {
  background-image: none;
  padding-top: 23px; }
  .industry .home-img {
    text-align: center; }
    .industry .home-img img {
      width: 75%;
      margin: auto; }
  .industry .section-intro-content .intro__title {
    margin-bottom: 40px; }
  .industry .section-intro-content .intro__actions {
    position: relative;
    top: 38px;
    left: -2px; }
    @media (max-width: 991px) {
      .industry .section-intro-content .intro__actions {
        position: static; } }
  .industry .section-intro-content .intro__options {
    position: relative;
    top: 30px; }
    @media (max-width: 991px) {
      .industry .section-intro-content .intro__options {
        position: static; } }
  .industry .intro-img {
    position: relative;
    left: 34px;
    top: -1px;
    transform: scale(0.9); }
    @media (max-width: 991px) {
      .industry .intro-img {
        transform: scale(1);
        position: static; } }

.manage-club {
  padding-top: 100px; }
  .manage-club .section__title {
    margin-top: 61px;
    margin-bottom: 47px; }

.define-packages {
  padding-top: 90px; }
  .define-packages .section__title {
    margin-top: 59px;
    margin-bottom: 50px; }

.create-sales {
  padding-top: 135px; }
  .create-sales .section__header {
    padding-left: 32px; }
    .create-sales .section__header .section__title {
      margin-top: 52px;
      margin-bottom: 38px; }

.industry-section .banner__layer-info {
  padding-left: 0; }
  .industry-section .banner__layer-info .free-btn {
    position: relative;
    top: -3px; }

.industry-section .logo-layer img {
  margin: auto;
  position: static; }

.track-stock {
  padding-top: 153px; }
  .track-stock .section__header {
    padding-left: 48px; }
    .track-stock .section__header .section__title {
      margin-bottom: 41px;
      margin-top: 4px; }

.performance {
  padding-top: 195px; }
  .performance .section__header {
    padding-left: 30px; }
    .performance .section__header .section__title {
      margin-bottom: 48px;
      margin-top: 24px; }

.add-club {
  padding-top: 142px; }
  .add-club .section__header {
    padding-left: 42px; }
    .add-club .section__header .section__title {
      margin-top: 20px;
      margin-bottom: 42px; }

.free-industry {
  height: 600px;
  overflow: hidden; }
  @media (max-width: 991px) {
    .free-industry {
      height: auto; } }
  .free-industry .container {
    height: 100%; }
    .free-industry .container .banner__layer-info {
      padding-left: 60px; }
      .free-industry .container .banner__layer-info h2 {
        font-size: 45px;
        line-height: 1.5; }
      .free-industry .container .banner__layer-info p {
        top: -6px; }
    .free-industry .container .row {
      height: 100%; }
      .free-industry .container .row img {
        position: absolute;
        top: -215px;
        left: 65px; }
        @media (max-width: 991px) {
          .free-industry .container .row img {
            width: 100%;
            position: static; } }

.industry-promises {
  padding-top: 38px; }
  .industry-promises .banner__layer {
    margin-top: 234px; }

[dir=rtl] .free-industry img {
  left: -220px !important; }

.features-page {
  background-image: none;
  min-height: auto; }

.powerful-features {
  padding: 5px 0 30px 0;
  position: relative; }
  .powerful-features .section__header {
    padding-left: 0; }
    .powerful-features .section__header .section__title {
      font-size: 54px; }
  .powerful-features .container {
    padding: 11px 36px 0 65px; }
    @media (max-width: 991px) {
      .powerful-features .container {
        padding: 15px; } }
  .powerful-features:before {
    content: "";
    position: absolute;
    background: url(../images/features/fea_bg.png);
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-size: 1577px;
    height: 800px;
    background-position: 0px -100px; }
  @media (max-width: 991px) {
    .powerful-features {
      overflow-x: hidden; } }
  .powerful-features .features__img {
    position: absolute;
    right: 0;
    top: 210px; }
    @media (max-width: 991px) {
      .powerful-features .features__img {
        right: -120px; } }
  .powerful-features .circles {
    position: absolute;
    left: -130px; }
    @media (max-width: 991px) {
      .powerful-features .circles {
        left: -175px; } }
    .powerful-features .circles img {
      height: 615px; }
      @media (max-width: 991px) {
        .powerful-features .circles img {
          height: auto; } }

.feature-item {
  margin-bottom: 75px;
  margin-top: 60px; }
  .feature-item .feature__title {
    display: flex;
    align-content: center; }
    .feature-item .feature__title img {
      width: 30px;
      margin-right: 15px; }
    .feature-item .feature__title span {
      font-size: 32px;
      font-family: "GilroyExtraBold";
      text-decoration: underline; }
  .feature-item .feature__desc {
    font-size: 16px;
    color: #75799d;
    margin: 20px 0;
    line-height: 1.4;
    width: 78%; }
    @media (max-width: 991px) {
      .feature-item .feature__desc {
        width: 100%; } }
  .feature-item .features-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .feature-item .features-links .feature-link {
      display: flex;
      align-items: center;
      min-width: 45%;
      height: 50px;
      font-size: 16px;
      border-radius: 14px;
      margin-bottom: 15px;
      font-family: "GilroyBold";
      background: #fff;
      box-shadow: -30px 4px 30px rgba(0, 0, 0, 0.05); }
      @media (max-width: 991px) {
        .feature-item .features-links .feature-link {
          width: 100%; } }
      .feature-item .features-links .feature-link img {
        margin: 0 25px;
        max-width: 30px; }

.sub-features .back {
  display: flex;
  align-items: center;
  font-size: 16px; }
  .sub-features .back i {
    font-size: 15px;
    margin: 0 10px 0 0; }

.sub-features .feature-list {
  position: fixed;
  width: 38%; }
  @media (max-width: 991px) {
    .sub-features .feature-list {
      position: static;
      width: auto; } }

.sub-features .feature__title {
  margin: 20px 0 30px 0; }
  .sub-features .feature__title img {
    width: 30px; }
  .sub-features .feature__title span {
    font-size: 32px;
    font-family: "GilroyExtraBold";
    text-decoration: underline; }

.sub-features .feature-link {
  display: flex;
  align-items: center;
  width: 60%;
  height: 50px;
  font-size: 16px;
  border-radius: 14px;
  margin-bottom: 20px;
  font-family: "GilroyBold";
  background: #fff;
  box-shadow: -30px 4px 30px rgba(0, 0, 0, 0.05); }
  @media (max-width: 991px) {
    .sub-features .feature-link {
      width: 100%; } }
  .sub-features .feature-link img {
    margin: 0 25px;
    max-width: 30px; }

.sub-features .feature-t {
  font-size: 36px;
  font-family: "GilroyExtraBold";
  margin: 30px 0 32px 0; }
  @media (max-width: 991px) {
    .sub-features .feature-t {
      font-size: 30px; } }

.sub-features .features-desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .sub-features .features-desc .feature-info {
    width: 40%;
    margin-bottom: 20px; }
    @media (max-width: 991px) {
      .sub-features .features-desc .feature-info {
        width: 100%; } }
    .sub-features .features-desc .feature-info h3 {
      font-size: 20px;
      font-family: "GilroyBold";
      margin: 20px 0px; }
    .sub-features .features-desc .feature-info p {
      font-size: 16px;
      color: #75799d; }

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 19px;
  margin: 0 15px; }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000FF;
    -webkit-transition: .4s;
    transition: .4s; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 11px;
      width: 11px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s; }
  .switch input:checked + .slider {
    background-color: #0000FF; }
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #0000FF; }
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px); }
  .switch .slider.round {
    border-radius: 34px; }
  .switch .slider.round:before {
    border-radius: 50%; }

.switcher {
  display: flex;
  align-items: center;
  margin: 15px 0; }
  @media (max-width: 991px) {
    .switcher {
      display: none; } }
  .switcher > span {
    font-size: 20px;
    font-family: 'GilroyBold';
    color: #4E5381;
    opacity: 0.5; }
    .switcher > span.active {
      opacity: 1; }
    .switcher > span.annual span {
      color: #0000FF; }

.switcher2 {
  flex-direction: column  !important;
  flex: 1;
  align-items: flex-start; }
  .switcher2 > span {
    font-size: 14px; }
  .switcher2 .switch {
    height: 15px;
    margin: 5px 0; }
  .switcher2 .switch .slider:before {
    height: 9px;
    width: 9px;
    bottom: 3px; }
  .switcher2 input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px); }

.start-free {
  padding-top: 78px; }
  .start-free .container {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 991px) {
      .start-free .container {
        flex-direction: column; } }
  .start-free .left-column {
    width: 40%; }
    @media (max-width: 991px) {
      .start-free .left-column {
        width: 100%; } }
    .start-free .left-column h2 {
      font-family: 'GilroyExtraBold';
      font-size: 50px;
      margin-bottom: 50px; }
      @media (max-width: 991px) {
        .start-free .left-column h2 {
          font-size: 35px; } }
  .start-free .right-column {
    width: 30%; }
    @media (max-width: 991px) {
      .start-free .right-column {
        width: 100%; } }
    .start-free .right-column h2 {
      font-family: 'GilroyExtraBold';
      font-size: 50px; }
      @media (max-width: 991px) {
        .start-free .right-column h2 {
          font-size: 32px; } }
    .start-free .right-column p {
      color: #A7A9C0;
      font-family: 'GilroyRegular'; }
      .start-free .right-column p:first-of-type {
        font-size: 30px; }
        @media (max-width: 991px) {
          .start-free .right-column p:first-of-type {
            font-size: 19px; } }
      .start-free .right-column p:last-of-type {
        font-size: 17px; }
        @media (max-width: 991px) {
          .start-free .right-column p:last-of-type {
            font-size: 14px; } }

.plans .currency {
  font-size: 14px !important;
  margin-right: 4px;
  font-weight: bold; }

.plans-panels {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .plans-panels .price-box {
    width: 290px;
    background: #fff;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    padding: 20px; }
    @media (max-width: 991px) {
      .plans-panels .price-box {
        width: auto;
        padding: 8px; } }
    .plans-panels .price-box.best-val {
      border: 5px solid #0000FF;
      position: relative;
      top: -5px; }
    .plans-panels .price-box-title {
      display: flex;
      justify-content: space-between; }
      @media (max-width: 991px) {
        .plans-panels .price-box-title {
          flex-direction: column; } }
      .plans-panels .price-box-title span {
        font-size: 22px;
        font-family: 'GilroyBold'; }
        @media (max-width: 991px) {
          .plans-panels .price-box-title span {
            font-size: 12px; } }
        @media (max-width: 400px) {
          .plans-panels .price-box-title span {
            font-size: 8px; } }
        .plans-panels .price-box-title span.popular {
          font-family: 'GilroyRegular';
          color: #36A592; }
        .plans-panels .price-box-title span.best-val {
          font-family: 'GilroyRegular';
          color: #0000FF; }
        .plans-panels .price-box-title span.unlimit {
          font-family: 'GilroyRegular';
          color: #F37434; }
    .plans-panels .price-box .price {
      margin: 20px 0; }
      .plans-panels .price-box .price .dollar {
        position: relative;
        top: -40px; }
        @media (max-width: 991px) {
          .plans-panels .price-box .price .dollar {
            top: -10px; } }
        @media (max-width: 400px) {
          .plans-panels .price-box .price .dollar {
            top: 0; } }
      .plans-panels .price-box .price .number {
        font-family: 'GilroyExtraBold';
        font-size: 50px; }
        @media (max-width: 991px) {
          .plans-panels .price-box .price .number {
            font-size: 20px; } }
        @media (max-width: 400px) {
          .plans-panels .price-box .price .number {
            font-size: 16px; } }
      .plans-panels .price-box .price .month {
        font-family: 'GilroyMedium';
        font-size: 17px; }
        @media (max-width: 991px) {
          .plans-panels .price-box .price .month {
            display: block; } }
        @media (max-width: 400px) {
          .plans-panels .price-box .price .month {
            font-size: 11px; } }
    @media (max-width: 991px) {
      .plans-panels .price-box p {
        display: none; } }
    .plans-panels .price-box p > span {
      font-family: 'GilroyBold'; }
      .plans-panels .price-box p > span > span {
        font-size: 17px; }
    .plans-panels .price-box p i {
      color: #4E5381;
      opacity: 0.5; }
    .plans-panels .price-box p + span.dollar-mob {
      display: none; }
      @media (max-width: 991px) {
        .plans-panels .price-box p + span.dollar-mob {
          display: block;
          font-size: 12px; } }
      @media (max-width: 400px) {
        .plans-panels .price-box p + span.dollar-mob {
          font-size: 8px; } }
      .plans-panels .price-box p + span.dollar-mob .currency {
        font-weight: normal;
        font-size: 12px !important; }
    .plans-panels .price-box button {
      width: 220px;
      height: 50px;
      border-radius: 4px;
      background: #0033a5;
      box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.16);
      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
      font-family: 'GilroyExtraBold'; }
      .plans-panels .price-box button.best-val {
        background-color: #0000FF; }
      @media (max-width: 991px) {
        .plans-panels .price-box button {
          display: none !important; } }

.plans-table {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border-top: 4px solid #0033a5;
  table-layout: fixed;
  word-wrap: break-word; }

.plans-table-title-wrap {
  display: flex;
  align-items: center; }

.plans-table tr td {
  vertical-align: middle; }

.plans-table tr td:first-of-type {
  width: 31.8%; }

@media (max-width: 768px) {
  .plans-table tr td:first-of-type {
    width: 49%; }
  .container {
    padding-right: 15px;
    padding-left: 15px; } }

.scalability-table-wrapper tr td i {
  bottom: auto !important; }

@media (max-width: 768px) {
  .scalability-table-wrapper tr td {
    width: auto; } }

.plans-table tbody tr:nth-of-type(odd) {
  background-color: #fff; }

.plans-table tbody tr:nth-of-type(even) {
  background: #f6f9fc; }

.table-wrapper-title {
  font-family: 'GilroyRegular';
  font-weight: bold;
  font-size: 18px;
  color: #4e5381; }

.plans-table tr td .th-icon {
  font-size: 16px;
  color: #0033a5;
  margin-right: 15px;
  margin-left: 15px; }

.plans-table tr td img {
  margin: 0px 15px;
  display: inline-block;
  vertical-align: middle;
  width: 18px; }

.plans-table tr td img + span {
  position: relative;
  top: 3px; }

@media (max-width: 768px) {
  .plans-table tr td img {
    margin: 0px 5px 0 0;
    width: 10px; }
  .plans-table tr td img + span {
    font-size: 14px;
    top: 1px; } }

.plans-table tr td .plans-table-title-wrap > span {
  font-family: 'GilroyRegular';
  font-weight: 500;
  font-size: 18px;
  color: #4e5381; }

.plans-table tr td .plans-table-title-wrap > span > span {
  font-family: 'GilroyRegular';
  font-weight: 500;
  font-size: 16px;
  color: #4e5381;
  opacity: 0.5; }

@media (max-width: 768px) {
  .plans-table tr td .th-icon {
    margin: 0 10px 0 0;
    font-size: 19px; }
  .plans-table tr td .plans-table-title-wrap > span {
    font-size: 13px;
    display: inline-block; }
  [dir=rtl] .plans-table tr td .th-icon {
    margin: 0 0 0 10px; } }

.plans-table tr td p {
  margin: 0;
  text-align: center; }

.plans-table tr td p span.price {
  font-family: 'GilroyRegular';
  font-weight: bold;
  font-size: 20px;
  color: #4e5381;
  margin-right: 5px;
  display: inline-block; }

.plans-table tr td p span.month {
  font-family: 'GilroyRegular';
  font-weight: 500;
  font-size: 16px;
  color: #4e5381;
  opacity: 0.5; }

.plans-table tr td.employee-record {
  padding-left: 60px; }

@media (max-width: 768px) {
  .plans-table tr td.employee-record {
    padding-left: 12px; }
  .plans-table tr td p span.price {
    font-size: 14px;
    margin-right: 0; } }

.plans-table tr td i.check-icon,
.plans-table tr td i.x-icon {
  font-size: 10px;
  color: #fff;
  width: 18px;
  height: 18px;
  display: block;
  margin: auto;
  text-align: center;
  line-height: 19px;
  border-radius: 50%; }

.plans-table tr td i.check-icon {
  background: #0033a5; }

.plans-table tr td i.x-icon {
  background: #E41920; }

.modules-more-table-wrapper {
  display: none; }

.modules-more-table-wrapper tr {
  background-color: #fff !important; }

.modules-more-table-wrapper tr td {
  border-top: 0;
  vertical-align: middle; }

.modules-more-table-wrapper tr.tr-header + tr td {
  padding-top: 30px; }

.modules-more-table-wrapper tr.tr-header {
  background-color: #f6f9fc !important; }

.modules-more-table-wrapper tr.tr-header td span {
  font-size: 16px;
  display: inline-block;
  vertical-align: top; }

@media (max-width: 768px) {
  .modules-more-table-wrapper tr.tr-header td span {
    vertical-align: middle; } }

.plans-table .modules-more-title {
  padding-left: 66px; }

@media (max-width: 768px) {
  .plans-table .modules-more-title {
    padding-left: 12px; }
  .plans-table .modules-more-title span {
    font-size: 12px; } }

.plans-table .modules-more-title .plans-table-title-wrap > span {
  font-size: 16px; }

.plans .show-more,
.plans .show-less {
  font-size: 18px;
  border-radius: 4px;
  background: none;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  color: #213242;
  font-family: 'GilroyBold';
  font-weight: bold;
  text-decoration: underline;
  border: 0;
  display: block;
  margin: auto;
  outline: 0;
  cursor: pointer; }

.plans .show-less {
  display: none; }

.plans .show-more:hover,
.plans .show-less:hover {
  opacity: 0.8; }

.price-box {
  margin-bottom: 0 !important; }

@media (max-width: 768px) {
  .billed {
    display: none !important; } }

.text .start-plan-btn {
  display: inline-block;
  padding: 20px;
  border-radius: 4px;
  background: #0000FF;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.16);
  font-family: "GilroyExtraBold";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  margin: 50px 0; }
  @media (max-width: 991px) {
    .text .start-plan-btn {
      font-size: 14px;
      margin: 20px 0; } }

.text p {
  padding: 10px; }
  .text p:first-of-type {
    font-size: 18px;
    font-family: 'GilroySemiBold'; }
    @media (max-width: 991px) {
      .text p:first-of-type {
        margin-bottom: 0;
        font-size: 14px; } }
  .text p:last-of-type {
    color: #6B6B6E;
    font-size: 16px;
    font-family: 'GilroyMedium';
    margin-bottom: 30px; }
    @media (max-width: 991px) {
      .text p:last-of-type {
        margin-bottom: 10px;
        font-size: 12px; } }

[dir=rtl] .switcher {
  flex-direction: row-reverse;
  justify-content: flex-end; }

.section-inverse {
  background: url("../images/affiliates_program/background_grey.jpg") #f9f9f9; }

.patua {
  text-align: center; }

.center-description {
  max-width: 877px;
  margin: 0 auto;
  margin-top: 23px; }
  .center-description .prim-header {
    font-size: 30px;
    font-weight: 400;
    line-height: 54px;
    padding: 0; }
    @media (max-width: 991px) {
      .center-description .prim-header {
        font-size: 22px;
        line-height: 30px; } }
  .center-description .sec-header {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 100;
    padding-bottom: 12px;
    position: relative; }
    .center-description .sec-header:after {
      border-bottom: 2px solid #005aaa;
      bottom: 0;
      content: "";
      right: 0;
      position: absolute;
      width: 126px;
      right: 50%;
      margin-right: -63px; }
  .center-description .section-desc {
    font-size: 19px; }
    @media (max-width: 991px) {
      .center-description .section-desc {
        font-size: 14px; } }
    .center-description .section-desc h3 {
      color: #005aaa;
      font-size: 25px;
      font-weight: 400; }
      @media (max-width: 991px) {
        .center-description .section-desc h3 {
          font-size: 14px; } }

.referal-sec {
  margin-bottom: 30px;
  text-align: center; }
  .referal-sec img {
    max-width: 250px;
    height: auto;
    margin-bottom: 20px; }
  .referal-sec p {
    color: #222;
    font-size: 18px; }

.referal-faq {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee; }
  .referal-faq h3 {
    color: #222;
    font-size: 26px;
    font-weight: bold; }
  .referal-faq p {
    color: #555;
    font-size: 16px; }
  @media (max-width: 991px) {
    .referal-faq h3 {
      font-size: 20px; }
    .referal-faq p {
      font-size: 12px; } }

.success-partners {
  background: whitesmoke; }
  .success-partners .sm-space {
    padding: 20px; }
  .success-partners .section-desc {
    font-size: 19px; }
    .success-partners .section-desc h3 {
      color: #005aaa;
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 15px; }
      .success-partners .section-desc h3 .flag {
        width: 50px;
        height: 50px;
        border-radius: 50%; }
  .success-partners .country-box-item {
    margin-bottom: 35px; }
  .success-partners .agen_item {
    background: #fcfcfc;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px; }
    .success-partners .agen_item .media-agenc {
      width: 100px;
      height: 100px;
      vertical-align: middle;
      display: table-cell;
      text-align: center; }
      .success-partners .agen_item .media-agenc .agency_logo {
        max-width: 90px;
        vertical-align: middle; }
    .success-partners .agen_item .agen-body {
      vertical-align: top;
      display: table-cell;
      padding-right: 10px;
      font-size: 15px; }
      @media (max-width: 991px) {
        .success-partners .agen_item .agen-body {
          display: block; } }
      .success-partners .agen_item .agen-body .business_name {
        font-size: 20px;
        color: #000; }

.agencies .section-desc {
  font-size: 19px; }
  @media (max-width: 991px) {
    .agencies .section-desc {
      font-size: 14px; } }
  .agencies .section-desc h3 {
    color: #005aaa;
    font-size: 25px;
    font-weight: 400; }
    @media (max-width: 991px) {
      .agencies .section-desc h3 {
        font-size: 14px; } }

.content-text {
  margin-bottom: 30px; }
  .content-text > p {
    margin-bottom: 22px;
    line-height: 27px;
    font-size: 16px; }
  .content-text > h3, .content-text h4, .content-text h5, .content-text h6 {
    color: #111;
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    margin-bottom: 12px; }

.contact-intro {
  margin: 30px 0; }
  .contact-intro h2 {
    font-size: 20px;
    margin-bottom: 0; }
  .contact-intro h3 {
    color: #005aaa;
    font-size: 22px;
    font-weight: 300; }
  .contact-intro p {
    color: #353535;
    font-size: 16px; }

.separator {
  border-top: 1px solid #ddd;
  margin: 30px auto; }

.form-container {
  background: #eee;
  padding: 15px 30px; }
  .form-container .input {
    display: block;
    padding: 0;
    position: relative;
    overflow: hidden; }
    .form-container .input label {
      color: #333;
      display: block;
      font-size: 16px;
      font-weight: 400;
      padding: 5px 0; }
  .form-container .input select, .form-container .text input, .form-container .text textarea, .form-container textarea {
    height: 38px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 2px;
    color: #555;
    display: block;
    font-size: 14px;
    padding: 0 10px;
    resize: none;
    text-indent: 0;
    width: 100%;
    margin-bottom: 8px;
    font-weight: 700; }
  .form-container .captcha img {
    padding: 4.5px;
    background: #fff;
    float: right;
    margin: 0 0 15px 15px;
    border: 1px solid #eee; }

.Address-hints {
  margin-bottom: 30px; }
  .Address-hints h3 {
    color: #005aaa;
    font-size: 22px;
    margin: 0;
    padding-bottom: 10px; }
  .Address-hints p {
    color: #333;
    font-size: 20px;
    margin: 0;
    line-height: 33px; }
  .Address-hints span {
    font-size: 14px; }
