@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1185px;
    }
}

main {
    min-height: calc(100vh - 696px);
    > p {
        display: none !important;
    }
}

.section {
    padding: 40px 0;
    @media (max-width: map-get($breakpoints, 'small' )) {
        padding: 20px 0 !important;
    }
}

.section__header {
    padding-left: 50px;
    @media (max-width: map-get($breakpoints, 'small' )) {
        padding: 0 !important;
    }
    .section__txt {
        font-size: 16px;
        display: none;
    }
    .section__title {
        font-family: 'GilroyExtraBold';
        font-size: 48px;
        margin-bottom: 27px;
        line-height: 1;

        @media (max-width: map-get($breakpoints, 'small' )) {
            font-size: 25px;
        }
    }

    .section__desc {
        font-size: 16px;
        margin-bottom: 9px;
        line-height: 1.7;
        color: #75799D;
        // width: 85%;
        @media (max-width: map-get($breakpoints, 'small' )) {
            margin-bottom: 15px;
            width: 100%;
        }
    }

    

    ul {
        margin-bottom: 40px;
        li {
            font-size: 16px;
            margin-bottom: 24px;
            display: flex;
            align-items: center;
            img {
                max-width: 25px;
            }
            span {
                margin-left: 15px;
                font-family: 'GilroyBold';
            }
        }
    }
}

.section-image  {
    @media (max-width: map-get($breakpoints, 'small' )) {
        margin: 15px 0;

    }
    img {
        @media (max-width: map-get($breakpoints, 'small' )) {
            width: 100%;
        }
    }
}

.bg-layer {
    @media (max-width: map-get($breakpoints, 'small' )) {
        background: linear-gradient(#dbe4f1 0%, #fff 100%);

    }
}


.banner__layer {
    background-color: $darken-color;
    padding: 50px 60px;
    border-radius: 20px;
    margin: 50px 0;
    background-image: url('../images/curve.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 314px -419px;

    @media (max-width: map-get($breakpoints, 'small' )) {
        padding:40px 22px;
    }
    .row {
        align-items: flex-end;
    }
    &-info {
        color: $white-color;
        position: relative;
        left: -10px;
        top: 13px;
        @media (max-width: map-get($breakpoints, "small" )) {
            position: static;
        }
        h2 {
            font-family: 'GilroyBold';
            font-size: 48px;
            margin-bottom: 30px;
            @media (max-width: map-get($breakpoints, 'small' )) {
                font-size: 29px;
            }
        }
        p {
            font-family: 'GilroyRegular';
            font-size: 16px;
            @media (max-width: map-get($breakpoints, 'small' )) {
                margin: 25px 0 50px 0
            }
        }
    }
    &-btn {
        text-align: right;
    }
}

// section img {
//     @media (max-width: map-get($breakpoints, 'small' )) {
//         width:100%;
//     }
// }

/// section-ltr
.section-ltr {
    position: relative;
    .circles {
        position: absolute;
        left: -136px;
        @media (max-width: map-get($breakpoints, 'small' )) {
            display: none;
        }
        img {
            height: 652px;
        }
        &.medium-size {
            left: -125px;
            img {
                height: 590px;
            }
        }
        &.small-size {
            left: -90px;
            img {
                height: 420px;
            }
        }
    }
    .row {
        align-items: center;
    }
}

/// section-rtl
.section-rtl {
    position: relative;
    overflow: hidden;
    .circles {
        position: absolute;
        right: -136px;
        @media (max-width: map-get($breakpoints, 'small' )) {
            display: none;
        }
        img {
            height: 652px;
        }

        &.small-size {
            right: -90px;
            img {
                height: 420px;
            }
        }
    }

    .row {
        align-items: center;
    }
}