
@font-face {
  font-family: "GilroyRegular";
  src: url("../fonts/Radomir-Tinkov-Gilroy-Regular.otf");
}

@font-face {
  font-family: "GilroyMedium";
  src: url("../fonts/Radomir-Tinkov-Gilroy-Medium.otf");
}

@font-face {
  font-family: "GilroyBold";
  src: url("../fonts/Radomir-Tinkov-Gilroy-Bold.otf");
}

@font-face {
  font-family: "GilroySemiBold";
  src: url("../fonts/Radomir-Tinkov-Gilroy-SemiBold.otf");
}

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: "CairoRegular";
  src: url("../fonts/Cairo-Regular.ttf");
}

@font-face {
  font-family: "CairoMedium";
  src: url("../fonts/Cairo-Medium.ttf");
}

@font-face {
  font-family: "CairoBold";
  src: url("../fonts/Cairo-Bold.ttf");
}

@font-face {
  font-family: "CairoSemiBold";
  src: url("../fonts/Cairo-SemiBold.ttf");
}

@font-face {
  font-family: "CairoExtraBold";
  src: url("../fonts/Cairo-ExtraBold.ttf");
}


body {
    color: $text-color;
    font: normal 125% / 1.4 'GilroyRegular';
}