.main-btn {
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'GilroyBold';
    font-size: 16px;
    display: inline-block;
    margin-right: 10px;
    background-color: $main-color;
    color: $white-color;
    &:hover {
        color: $main-color;
        border: 1px solid $main-color;
        background-color: transparent;
    }
    @media (max-width: map-get($breakpoints, 'small' )) {
        padding: 10px;
        font-size:14px;
    }
}

.sub-btn {
    padding: 9px 16px;
    border: 2px solid $main-color;
    border-radius: 9px;
    background-color: transparent;
    display: inline-block;
    font-family: 'GilroyMedium';
    font-size: 16px;
    color: $main-color;
    &:hover {
        color: $white-color;
        border: 2px solid transparent;
        background-color: $main-color;
    }
    @media (max-width: map-get($breakpoints, 'small' )) {
        font-size: 14px !important;
        padding: 5px 16px;;
    }
}

.free-btn {
    width: 297px;
    height: 72px;
    border-radius: 8px;
    text-align: center;
    line-height: 72px;
    font-family: Gilroy;
    font-size: 20px;
    color: #fff;
    padding: 20px 40px;
    margin: auto;
    text-transform: uppercase;
    font-family: 'GilroyBold';
    background: linear-gradient(#9eef00 0%, #5d8d00 100%);
    @media (max-width: map-get($breakpoints, 'small' )) {
        width: 100%;
        height: auto;
        line-height: normal; 
        font-size: 18px;
        padding: 20px 10px;
        display: block;
    }
}

section {
    .main-btn {
        padding: 0 30px;
        height: 60px;
        line-height: 60px;
        @media (max-width: map-get($breakpoints, 'small' )) {
            padding: 0 12px;
        }
    }
    .sub-btn {
        padding: 0 20px;
        height: 60px;
        line-height: 58px;
        @media (max-width: map-get($breakpoints, 'small' )) {
            padding: 0 10px;
        }
    }
}