.industry-menu {
    position: fixed;
    top: 0;
    left: -100%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 55px 0;
    z-index: 999999;
    transition: left 0.2s;
    &.open {
        left: 0;
    }
    @media (max-width: map-get($breakpoints, 'small' )) {
        overflow-y: auto;
    }

    .container {
        .menu__layer {
            min-height: 68px;
            > div {
                display: flex;
                align-items: center;
                position: absolute;
                left: 100px;
                @media (max-width: map-get($breakpoints, 'small' )) {
                    position: static;
                    display: block;
                    flex-direction: column;
                    left: auto;
                }
                i {
                    margin-right: 5px;
                    @media (max-width: map-get($breakpoints, 'small' )) {
                        margin-bottom: 45px;
                    }
                }
            }
            form {
                max-width: 450px;
                margin: auto;
                @media (max-width: map-get($breakpoints, 'small' )) {
                    min-width: 100%;
                }
            }
        
            .back-icon {
                font-size: 25px;
            }
        
            h2 {
                font-family: 'GilroyExtraBold';
            }
        
            .close-icon {
                right: 50px;
                @media (max-width: map-get($breakpoints, 'small' )) {
                    right: 18px;
                }
            }
        
            .form-item {
                position: relative;
                input {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    border: 0;
                    border-bottom: 2px solid #222;
                    padding-left: 35px;
                    height: 55px;
                    outline: 0;
                }
                i {
                    position: absolute;
                    left: 0;
                    font-size: 25px;
                    z-index: 10;
                    top: 12px;
                }
            }
        }
        
        .menu__content {
            padding-top: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            max-height: 80vh;
            overflow-y: auto;
            @media (max-width: map-get($breakpoints, 'small' )) {
                max-height: none;
                padding-top: 80px;
            }
            .menu__item {
                color: #000;
                margin-bottom: 15px;
                width: 32%;
                padding: 15px 25px;
                @media (max-width: map-get($breakpoints, 'small' )) {
                    padding: 15px 5px;
                    width: 100%;
                }
                img {
                    margin-right: 15px;
                    max-width: 45px;
                }
                span {
                    font-family: 'GilroyExtraBold';
                }

                &:hover {
                    box-shadow: 0px 10px 18px rgba(0, 0, 255, 0.1);
                    span {
                        background-color: #DBDBFF;
                        color: $main-color;
                    }
                }
            }
        }
    }
}

[dir=rtl] {
    .industry-menu {
        left: auto;
        right: -100%;
        transition: right 0.2s;
        &.open {
            left: auto;
            right: 0;
        }
        .container {
            .menu__layer {
                > div {
                    left: auto;
                    right: 100px;
                }
                .form-item {
                    position: relative;
                    input {
                        padding-left: 0;
                        padding-right: 35px;
                    }
                    i {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
        .close-icon { 
            right: auto !important;
            left: 15px;
        }
    }
    
}