.mega-menu {
    position: fixed;
    top: 0;
    left: -100%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 100px 0;
    z-index: 99999;
    transition: left 0.2s;
    &.open {
        left: 0;
    }
    @media (max-width: map-get($breakpoints, 'small' )) {
        overflow-y: auto;
    }
}

.close-icon {
    font-size: 30px;
    position: absolute;
    right: 156px;
    width: 50px;
    top: 55px;
    height: 50px;
    line-height: 50px;
    background-color: #E4EBF2;
    color: #000;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    @media (max-width: map-get($breakpoints, 'small' )) {
        right: 15px;
    }
}

.left-side {
    display: flex;
    flex-wrap: wrap;
    border-right: 2px solid #333;
    @media (max-width: map-get($breakpoints, 'small' )) {
        border: 0 !important;
        border-bottom: 2px solid #333 !important;
    }
}

.menu-item {
    width: 48%;
    margin-bottom: 60px;
    @media (max-width: map-get($breakpoints, 'small' )) {
        width: 100%;
    }
    h2 {
        font-family: 'GilroyExtraBold';
        font-size: 54px;
        color: #181c32;
        text-decoration: underline;
        @media (max-width: map-get($breakpoints, 'small' )) {
            font-size: 38px;
        }
    }
    a {
        display: inline-block;
        text-decoration: underline;
        font-size: 16px;
    }
}

.right-side {
    > a {
        font-size: 40px;
        text-decoration: underline;
        font-family: 'GilroyExtraBold';
        display: block;
        &:first-of-type {
            text-decoration: none;
            margin-bottom: 20px;
        }
    }
    &-col {
        margin-top: 50px;
        display: flex;
        h2 {
            text-decoration: none;
        }
        a {
            display: block;
        }
    }
}

[dir=rtl] {
    .mega-menu {
        left: auto;
        right: -100%;
        transition: right 0.2s;
        &.open {
            left: auto;
            right: 0;
        }
        .left-side {
            border-right: 0;
            border-left: 2px solid #333
        }
        .industry-menu-link {
            display: flex;
            align-items: center;
            > span {
                order: 2;
            }
            > i {
                transform: rotate(180deg);
            }
        }
        .close-icon { 
            right: auto;
            left: 15px;
        }
    }
}