

.content-text {
    margin-bottom: 30px;
    > p {
        margin-bottom: 22px;
        line-height: 27px;
        font-size: 16px;
    }
    > h3 , h4 , h5 , h6 {
        color: #111;
        font-size: 18px;
        font-weight: 700;
        padding: 0;
        margin-bottom: 12px;
    }
   
}

.contact-intro {
    margin: 30px 0;
    h2 {
        font-size: 20px;
        margin-bottom: 0;
    }
    h3 {
        color: #005aaa;
        font-size: 22px;
        font-weight: 300;
    }
    p {
        color: #353535;
        font-size: 16px;
    }
}
