.section-inverse {
    background: url('../images/affiliates_program/background_grey.jpg') #f9f9f9;
}
.patua {
    text-align: center;
}
.center-description {
    max-width: 877px;
    margin: 0 auto;
    margin-top: 23px;
    
    .prim-header {
        font-size: 30px;
        font-weight: 400;
        line-height: 54px;
        padding: 0;
        @media (max-width: map-get($breakpoints, "small" )) {
            font-size: 22px;
            line-height: 30px;
        }
    }
    .sec-header {
        font-size: 18px;
        margin-bottom: 30px;
        font-weight: 100;
        padding-bottom: 12px;
        position: relative;
        &:after {
            border-bottom: 2px solid #005aaa;
            bottom: 0;
            content: "";
            right: 0;
            position: absolute;
            width: 126px;
            right: 50%;
            margin-right: -63px;
        }
    }
    .section-desc {
        font-size: 19px;
        @media (max-width: map-get($breakpoints, "small" )) {
            font-size: 14px;
        }
        h3 {
            color: #005aaa;
            font-size: 25px;
            font-weight: 400;
            @media (max-width: map-get($breakpoints, "small" )) {
                font-size: 14px;
            }
        }
    }
}

.referal-sec {
    margin-bottom: 30px;
    text-align: center;
    img {
        max-width: 250px;
        height: auto;
        margin-bottom: 20px;
    }
    p {
        color: #222;
        font-size: 18px;
    }
}

.referal-faq {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
    h3 {
        color: #222;
        font-size: 26px;
        font-weight: bold;
    }
    p {
        color: #555;
        font-size: 16px;
    }
    @media (max-width: map-get($breakpoints, "small" )) {
        h3 {
            font-size: 20px;
        }
        p {
            font-size: 12px;
        }
    }
}