.agencies {
    .section-desc {
        font-size: 19px;
        @media (max-width: map-get($breakpoints, "small" )) {
            font-size: 14px;
        }
        h3 {
            color: #005aaa;
            font-size: 25px;
            font-weight: 400;
            @media (max-width: map-get($breakpoints, "small" )) {
                font-size: 14px;
            }
        }
    }
}