.separator {
    border-top: 1px solid #ddd;
    margin: 30px auto;
}

.form-container {
    background: #eee;
    padding: 15px 30px;
    .input {
        display: block;
        padding: 0;
        position: relative;
        overflow: hidden;
        label {
            color: #333;
            display: block;
            font-size: 16px;
            font-weight: 400;
            padding: 5px 0;
        }
    }
    .input select, .text input, .text textarea, textarea {
        height: 38px;
        background: #fff;
        border: 1px solid #999;
        border-radius: 2px;
        color: #555;
        display: block;
        font-size: 14px;
        padding: 0 10px;
        resize: none;
        text-indent: 0;
        width: 100%;
        margin-bottom: 8px;
        font-weight: 700;
    }
    .captcha img {
        padding: 4.5px;
        background: #fff;
        float: right;
        margin: 0 0 15px 15px;
        border: 1px solid #eee;
    }
}

.Address-hints {
    margin-bottom: 30px;
    h3 {
        color: #005aaa;
        font-size: 22px;
        margin: 0;
        padding-bottom: 10px;
    }
    p {
        color: #333;
        font-size: 20px;
        margin: 0;
        line-height: 33px;
    }
    span {
        font-size: 14px;
    }
}
