.features-page {
  background-image: none;
  min-height: auto;
}

/// powerful-features
.powerful-features {
  padding: 5px 0 30px 0;
  position: relative;
  .section__header {
    padding-left: 0;
    .section__title {
      font-size: 54px;
    }
  }
  .container {
    padding: 11px 36px 0 65px;
    @media (max-width: map-get($breakpoints, "small" )) {
      padding: 15px;
    }
  }
  &:before {
    content: "";
    position: absolute;
    background: url(../images/features/fea_bg.png);
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-size: 1577px;
    height: 800px;
    background-position: 0px -100px;
  }
  @media (max-width: map-get($breakpoints, "small" )) {
    overflow-x: hidden;
  }
  .features__img {
    position: absolute;
    right: 0;
    top: 210px;
    @media (max-width: map-get($breakpoints, "small" )) {
      right: -120px;
    }
  }
  .circles {
    position: absolute;
    left: -130px;
    @media (max-width: map-get($breakpoints, "small" )) {
      left: -175px;
    }
    img {
      height: 615px;
      @media (max-width: map-get($breakpoints, "small" )) {
        height: auto;
      }
    }
  }
}

.feature-item {
  margin-bottom: 75px;
  margin-top: 60px;
  .feature__title {
    display: flex;
    align-content: center;
    img {
      width: 30px;
      margin-right: 15px;
    }
    span {
      font-size: 32px;
      font-family: "GilroyExtraBold";
      text-decoration: underline;
    }
  }
  .feature__desc {
    font-size: 16px;
    color: #75799d;
    margin: 20px 0;
    line-height: 1.4;
    width: 78%;
    @media (max-width: map-get($breakpoints, "small" )) {
      width: 100%;
    }
  }

  .features-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .feature-link {
      display: flex;
      align-items: center;
      min-width: 45%;
      height: 50px;
      font-size: 16px;
      border-radius: 14px;
      margin-bottom: 15px;
      font-family: "GilroyBold";
      background: #fff;
      box-shadow: -30px 4px 30px rgba(0, 0, 0, 0.05);
      @media (max-width: map-get($breakpoints, "small" )) {
        width: 100%;
      }
      img {
        margin: 0 25px;
        max-width: 30px;
      }
    }
  }
}

/// sub features
.sub-features {
  .back {
    display: flex;
    align-items: center;
    font-size: 16px;
    i {
      font-size: 15px;
      margin: 0 10px 0 0;
    }
  }
  .feature-list {
    position: fixed;
    width: 38%;
    @media (max-width: map-get($breakpoints, "small" )) {
      position: static;
      width: auto;
    }
  }
  .feature__title {
    margin: 20px 0 30px 0;
    img {
      width: 30px;
    }
    span {
      font-size: 32px;
      font-family: "GilroyExtraBold";
      text-decoration: underline;
    }
  }
  .feature-link {
    display: flex;
    align-items: center;
    width: 60%;
    height: 50px;
    font-size: 16px;
    border-radius: 14px;
    margin-bottom: 20px;
    font-family: "GilroyBold";
    background: #fff;
    box-shadow: -30px 4px 30px rgba(0, 0, 0, 0.05);
    @media (max-width: map-get($breakpoints, "small" )) {
      width: 100%;
    }
    img {
      margin: 0 25px;
      max-width: 30px;
    }
  }

  .feature-t {
    font-size: 36px;
    font-family: "GilroyExtraBold";
    margin: 30px 0 32px 0;
    @media (max-width: map-get($breakpoints, "small" )) {
      font-size: 30px;
    }
  }
  .features-desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .feature-info {
      width: 40%;
      margin-bottom: 20px;
      @media (max-width: map-get($breakpoints, "small" )) {
        width: 100%;
      }
      h3 {
        font-size: 20px;
        font-family: "GilroyBold";
        margin: 20px 0px;
      }

      p {
        font-size: 16px;
        color: #75799d;
      }
    }
  }
}
