.section-intro {
  position: relative;
  min-height: 650px;
  padding-top: 50px;
  @media (max-width: 575px) {
    padding-top: 55px;
  }
  &:before {
    content: "";
    background-image: url("../images/home-cover.png");
    background-size: cover;
    position: absolute;
    top: -139px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: 0 -43px;
  }
  > .container {
    @media (min-width: 991px ) {
      padding: 0;
    }
  }

    
}

.section-intro-content {
  .row {
    align-items: center;
  }

  .section-intro-info {
    .intro__title {
      font-size: 54px;
      line-height: 1.3;
      font-family: "GilroyExtraBold";
      margin-bottom: 30px;
      margin-top: 10px;
      @media (max-width: map-get($breakpoints, "small" )) {
        margin-bottom: 10px;
        margin-top: 30px;
        font-size: 33px;
      }
    }
    .intro__desc {
      font-size: 16px;
      margin-bottom: 12px;
      color: #6b6b6e;
      line-height: 1.8;
      position: relative;
      top: -1px;
      left: 5px;
      @media (max-width: map-get($breakpoints, "small" )) {
        margin-bottom: 20px;
      }
    }
    .intro__actions {
      display: flex;
      position: relative;
      top: 8px;
      @media (max-width: map-get($breakpoints, "small" )) {
        position: static;
      }
      a {
        margin-right: 20px;
        @media (max-width: map-get($breakpoints, "small" )) {
          margin-right: 3px;
        }
      }
    }
    .intro__options {
      display: flex;
      margin: 71px 0 25px 0;
      @media (max-width: map-get($breakpoints, "small" )) {
        margin: 35px 0 25px 0;
        flex-direction: column;
      }
      li {
        font-size: 14px;
        margin-right: 33px;
        @media (max-width: map-get($breakpoints, "small" )) {
          margin-right: 0;
        }
        i {
          margin-right: 5px;
          color: $main-color;
        }
      }
    }
  }

  .intro-img {
    position: relative;
    left: 48px;
    top: -17px;
    transform: scale(1.1);
    @media (max-width: map-get($breakpoints, "small" )) {
      transform: scale(1);
      position: static;
    }
    img {
      width: 100%;
    }
  }
}

/// plugins
.plugins {
  padding-top: 0px;
  position: relative;
  @media (max-width: map-get($breakpoints, "small" )) {
    overflow-x: hidden;
  }

  .plugins__img {
    position: absolute;
    right: 0;
    @media (max-width: map-get($breakpoints, "small" )) {
      right: -120px;
    }
  }

  .plugins__content {
    margin: 62px 0 0px 0;
    padding: 0px 0 0 60px;
    @media (max-width: map-get($breakpoints, "small" )) {
      padding: 0;
      margin: 20px 0;
    }
    .plugins__item {
      position: relative;
      padding-left: 50px;
      margin-bottom: 70px;
      margin-top: 7px;
      @media (max-width: map-get($breakpoints, "small" )) {
        margin-bottom: 35px;
      }
      &._item {
        padding-left: 65px;
        @media (max-width: map-get($breakpoints, "small" )) {
          padding-left: 50px;
        }
        img {
          left: 12px;
          @media (max-width: map-get($breakpoints, "small" )) {
            left: 0
          }
        }
      }
      &.__item {
        padding-left: 72px;
        @media (max-width: map-get($breakpoints, "small" )) {
          padding-left: 50px;
        }
        img {
          left: 22px;
          @media (max-width: map-get($breakpoints, "small" )) {
            left: 0
          }
        }
      }
      img {
        position: absolute;
        left: 0;
        top: -3px;
        width: 30px;
        height: 33px;
      }

      h2 {
        font-family: "GilroyBold";
        font-size: 24px;
      }

      p {
        font-family: "GilroyRegular";
        font-size: 16px;
        color: #75799d;
        width: 92%;
        @media (max-width: map-get($breakpoints, "small" )) {
          width: 90%;
        }
      }
    }
  }

  .plugins__layer {
    .row {
      align-items: center;
    }
    &-info {
      color: $white-color;
      
      h2 {
        margin-bottom: 0px;
      }
    }
    &-btn {
      text-align: center;
    }
  }
}

/// sales
.sales {
  padding-top: 32px;
  .section__header {
    padding-left: 35px;
    .section__txt {
      margin-bottom: 35px;
    }
    .section__title {
      margin-bottom: 48px;
    }
    .section__desc {
      margin-bottom: 36px;
    }
  }
  .section-image {
    position: relative;
    left: 14px;
    top: 5px;
    @media (max-width: map-get($breakpoints, "small" )) {
      position: static;
    }
  }
  .sales__actions {
    @media (max-width: map-get($breakpoints, "small" )) {
      margin: 0 0 30px 0;
    }
  }
}

/// accounting
.accounting {
  .section-image {
    img {
      position: relative;
      left: -61px;
      top: 0px;
      width: 117% !important;
      @media (max-width: map-get($breakpoints, "small" )) {
        width: 100% !important;
        position: static;
      }
    }
  }
  .section__header {
    padding-left: 33px;
    ul {
      li {
        span {
          margin-left: 22px;
        }
      }
    }
    .section__txt {
      margin-bottom: 38px;
      margin-top: -6px;
    }
    .section__title {
      margin-bottom: 44px;
    }
    .section__desc {
      margin-bottom: 17px;
      margin-top: 25px;
    }
  }
  .sales__actions {
    margin-left: 10px;
    @media (max-width: map-get($breakpoints, "small" )) {
      margin-left: 0;
    }
  }
}

/// operation
.operations {
  .section__header {
    padding-left: 27px;
    ul {
      li {
        span {
          margin-left: 22px;
        }
      }
    }
    .section__txt {
      margin-bottom: 36px;
      margin-top: 25px;
      padding-left: 9px;
    }
    .section__title {
      margin-bottom: 51px;
    }
    .section__desc {
      margin-bottom: 42px;
      margin-top: 43px;
      padding-left: 8px;
    }
    ul {
      padding-left: 8px;
      @media (max-width: map-get($breakpoints, "small" )) {
        padding-left: 0;
      }
    }
  }
  .section-image {
    img {
      position: relative;
      left: -40px;
      width: 117% !important;
      top: 16px;
      @media (max-width: map-get($breakpoints, "small" )) {
        position: static;
        width: 100% !important;
      }
    }
  }
  .operation__actions {
    position: relative;
    top: 11px;
    @media (max-width: map-get($breakpoints, "small" )) {
      position: static;
    }
  }
  .operations__layer {
    margin-top: 185px;
    .banner__layer-info {
      position: relative;
      left: -10px;
      top: 13px;
      @media (max-width: map-get($breakpoints, "small" )) {
        position: static;
      }
      h2 {
        margin-bottom: 33px;
      }
    }
    .banner__layer-btn {
      position: relative;
      top: 69px;
      left: -9px;
      @media (max-width: map-get($breakpoints, "small" )) {
        position: static;
      } 
    }
  }
}

/// customer
.customer {
  .section__header {
    padding-left: 28px;
    .section__txt {
      margin-top: -6px;
      padding-left: 8px;
      margin-bottom: 47px;
    }
    .section__title {
      margin-bottom: 40px;
      margin-top: -10px;
      padding-left: 0px;
    }
    .section__desc {
      padding-left: 6px;
      margin-bottom: 43px;
      margin-top: 45px;
    }
    ul {
      padding-left: 10px;
      @media (max-width: map-get($breakpoints, "small" )) {
        padding-left: 0;
      }
    }
  }
  .section-image {
    img {
      position: relative;
      top: 2px;
      left: -12px;
      @media (max-width: map-get($breakpoints, "small" )) {
        position: static;
      }
    }
  }
}

/// inventory
.inventory {
  padding-top: 114px;
  .section-image {
    img {
      position: relative;
      left: -61px;
      top: 0px;
      width: 117% !important;
      @media (max-width: map-get($breakpoints, "small" )) {
        width: 100% !important;
        position: static;
      }
    }
  }
  .section__header {
    padding-left: 34px;
    .section__txt {
      position: relative;
      top: -10px;
      @media (max-width: map-get($breakpoints, "small" )) {
        position: static;
      }
    }
    .section__title {
      position: relative;
      top: -25px;
      @media (max-width: map-get($breakpoints, "small" )) {
        position: static;
      }
    }
    .section__desc {
      position: relative;
      top: -2px;
      margin-bottom: 38px;
      @media (max-width: map-get($breakpoints, "small" )) {
        position: static;
      }

    }
  }
  .inventory__actions {
    position: relative;
    top: 9px;
    @media (max-width: map-get($breakpoints, "small" )) {
      position: static;
    }
  }
}

/// hrm 
.hrm {
  .section-image {
    img {
      position: relative;
      left: -28px;
      top: 3px;
      @media (max-width: map-get($breakpoints, "small" )) {
        position: static;
      }
    }
  
  }
  .section__header {
    padding-left: 25px;
    .section__txt {
      position: relative;
      left: 9px;
      top: -3px;
      @media (max-width: map-get($breakpoints, "small" )) {
        position: static;
      }
    }
    .section__title {
      position: relative;
      top: -16px;
      left: 7px;
      @media (max-width: map-get($breakpoints, "small" )) {
        position: static;
      }
    }
    .section__desc {
      position: relative;
      top: 3px;
      left: 8px;
      margin-bottom: 46px;
      @media (max-width: map-get($breakpoints, "small" )) {
        position: static;
      }
    }
    ul {
      padding-left: 15px;
      @media (max-width: map-get($breakpoints, "small" )) {
        padding-left: 0;
      }
    }
  }
  .hrm__actions {
    position: relative;
    left: 9px;
    @media (max-width: map-get($breakpoints, "small" )) {
      position: static;
    }
  }
}



/// free trial section
.free-trial {
  border-radius: 0;
  margin-bottom: 0;
  &.banner__layer {
    margin-top: 106px;
  }
  .banner__layer-info {
    padding-left: 57px;
    padding-top: 6px;
    @media (max-width: map-get($breakpoints, "small" )) {
      padding: 0;
    }
    p {
      position: relative;
      top: -19px;
      line-height: 1.7;
      @media (max-width: map-get($breakpoints, "small" )) {
        position: static;
      }
    }
    .free-btn {
      position: relative;
      top: 9px;
      @media (max-width: map-get($breakpoints, "small" )) {
        position: static;
      }
    }
  }
  .row {
    justify-content: space-between;
  }
  &-info {
    h2 {
      margin-bottom: 0;
    }
  }
  .logo-layer {
    @media (max-width: map-get($breakpoints, "small" )) {
      margin: 0 0 50px 0;
    }
    img {
      margin-right: 53px;
      position: relative;
      bottom: -21px;
      @media (max-width: map-get($breakpoints, "small" )) {
        width: 40%;
        position: static;
        margin: 0;
      }
    }
  }
}

/// promises
.promises {
  background: #f9fafb;
  &__header {
    background: url("../images/header-layer.png");
    background-size: cover;
    background-position: center;
    position: relative;
    top: 90px;
    h2 {
      font-family: "GilroyExtraBold";
      font-size: 47px;
      margin-bottom: 30px;
      position: relative;
      left: 53px;
      @media (max-width: map-get($breakpoints, "small" )) {
        font-size: 35px;
        position: static;
      }
      span {
        color: $main-color;
      }
    }
    p {
      font-size: 18px;
      margin: 39px 0 0 49px;
      @media (max-width: map-get($breakpoints, "small" )) {
        margin: 0;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top: 140px;
    margin-top: 25px;
    &_card {
      width: 275px;
      border-radius: 20px;
      margin-bottom: 25px;
      background: #fff;
      box-shadow: -30px 4px 30px rgba(0, 0, 0, 0.05);
      padding: 30px;
      position: relative;
      z-index: 2;
      @media (max-width: map-get($breakpoints, "small" )) {
        margin-bottom: 0;
        width: 100%;
        box-shadow: 4px -30px 30px rgba(0, 0, 0, 0.05);
      }

      &:after {
        content: "";
        border-radius: 0 20px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0;
        background-color: $main-color;
        z-index: -1;
        transition: height .2s;
      }

      &:hover {
        &:after {
          height: 65%;
        }
        h2 {
          color: #fff;
        }
        p {
          color: #fff;
        }
      }

      h2 {
        font-size: 20px;
        font-family: "GilroyBold";
        margin: 20px 0;
        @media (max-width: map-get($breakpoints, "small" )) {
          margin-bottom: 0;
        }
      }

      p {
        font-size: 16px;
        margin-bottom: 0;
      }
    }
  }
}

/// easier
.easier {
  .container {
    .row {
      align-items: center;
    }
  }
  &__header {
    background: url("../images/rounded-layer.png");
    background-size: cover;
    background-position: center;
    height: 700px;
    background-size: cover;
    padding-top: 165px;
    margin-bottom: 350px;
    @media (max-width: map-get($breakpoints, "small" )) {
      height: 340px;
    }
    h2 {
      font-family: "GilroyExtraBold";
      font-size: 49px;
      margin-bottom: 30px;
      @media (max-width: map-get($breakpoints, "small" )) {
        font-size: 26px;
      }
      span {
        color: $main-color;
      }
    }
    p {
      font-size: 16px;
      @media (max-width: map-get($breakpoints, "small" )) {
        padding: 0 10px;
      }
    }
    img {
      position: relative;
      top: 33px;
      @media (max-width: map-get($breakpoints, "small" )) {
        width: 100%;
        top: 30px;
        max-width: 500px;
      }
    }
  }

  &__info {
    padding: 68px 0 0 32px;
    &.l2 {
      padding: 44px 0 0 32px;
      h2 {
        font-size: 46px;
      }
    }
    @media (max-width: map-get($breakpoints, "small" )) {
      padding: 5px !important;
      
    }
    h2 {
      font-family: "GilroyExtraBold";
      font-size: 48px;
      margin-bottom: 40px;
      @media (max-width: map-get($breakpoints, "small" )) {
        font-size: 35px !important;
      }
    }
    p {
      font-size: 16px;
      color: #75799D;
      line-height: 1.7;
    }
  }

  .easier-bg {
    @media (max-width: map-get($breakpoints, "small" )) {
      width: 100%;
    }
  }
}

/// features
.features {
  background-image: url("../images/curved-layer.png");
  background-size: cover;
  background-position: -232px;
  // max-height: 350px;
  padding-top: 150px;
  @media (max-width: map-get($breakpoints, "small" )) {
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 50px;
  }
  h2 {
    font-size: 47px;
    text-align: center;
    font-family: "GilroyExtraBold";
    margin: 30px 0 65px 0;
    @media (max-width: map-get($breakpoints, "small" )) {
      font-size: 30px;
      margin: 5px 0 40px 0;
    }
    span {
      color: $main-color;
    }
  }

  .feature__content {
    .feature__item {
      display: flex;
      margin: 10px 0 19px 0;
      align-items: center;
      font-size: 16px;
      img {
        width: 32px;
        height: 32px;
      }
      span {
        margin-left: 20px;
      }
    }
  }

  .main-btn {
    padding: 24px 50px;
    display: block;
    width: 382px;
    text-align: center;
    margin: 81px auto 20px auto;
    height: auto;
    line-height: 1;
    letter-spacing: 1px;
    @media (max-width: map-get($breakpoints, "small" )) {
      width: 70% !important;
    }
  }
}

/// links
.links {
  .noneed__layer {
    margin: 0px;
    &.banner__layer {
      margin: -10px;
      @media (max-width: map-get($breakpoints, "small" )) {
        margin: 0px;
      }
    }
    .banner__layer-info {
      padding-left: 11px;
      @media (max-width: map-get($breakpoints, "small" )) {
        padding-left: 0px;
      }
    }
    .row {
      justify-content: space-between;
    }
    &-info {
      h2 {
        margin-bottom: 30px;
      }
    }
  }
  .layers-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 115px 0 50px 0;
    @media (max-width: map-get($breakpoints, "xsmall" )) {
      margin: 25px 0 50px 0;
    }
    img {
      width: auto;
      max-height: auto;
      @media (max-width: map-get($breakpoints, "small" )) {
        margin-bottom: 20px;
        display: block;
      }
    }
    @media (max-width: map-get($breakpoints, "small" )) {
      display: block;
    }
  }
}

/// download
.download {
  padding-top: 0;
  .container {
    .row {
      align-items: center;
    }
  }
  .section__header {
    padding-left: 0;
    margin-top: -23px;
    margin-left: -16px;
    @media (max-width: map-get($breakpoints, "xsmall" )) {
      margin-left: 0px;
      margin-top: 0;
    }
    .section__title {
      margin-bottom: 46px;
    }
    .section__desc {
      margin-bottom: 23px;
    }
  }
  .download__actions {
    margin: 71px 2px;
    @media (max-width: map-get($breakpoints, "xsmall" )) {
      margin: 20px 0;
    }
    a {
      display: inline-block;
      max-width: 291px;
      margin-right: 18px;
      
      img {
        width: 100%;
      }
      @media (max-width: map-get($breakpoints, "xsmall" )) {
        max-width: 100%;
        margin-bottom: 25px;
        display: block;
      }
      @media (max-width: map-get($breakpoints, "small" )) {
        max-width: 40%;
        margin: 0;
        display: inline-block;
      }
    }
  }
}

[dir="rtl"] {
  .feature__item {
    span {
      margin-left: 0 !important;
      margin-right: 20px !important;
    }
  }
  .plugins {
    .plugins__img {
      right: auto;
      left: 0;
      transform: rotate(180deg);
    }
  }
}
