.industry {
    background-image: none;
    padding-top: 23px;
    .home-img {
        text-align: center;
        img {
            width: 75%;
            margin: auto
        }
    }
    .section-intro-content {
        .intro__title {
            margin-bottom: 40px;
        }
        .intro__actions {
            position: relative;
            top: 38px;
            left: -2px;
            @media (max-width: map-get($breakpoints, "small" )) {
                position: static;
            }
        }
        .intro__options {
            position: relative;
            top: 30px;
            @media (max-width: map-get($breakpoints, "small" )) {
                position: static;
            }
        }
    }
    .intro-img {
        position: relative;
        left: 34px;
        top: -1px;
        transform: scale(0.9);
        @media (max-width: map-get($breakpoints, "small" )) {
            transform: scale(1);
            position: static;
        }
    }
}

.manage-club {
    padding-top: 100px;
    .section__title {
        margin-top: 61px;
        margin-bottom: 47px;
    }
}

.define-packages {
    padding-top: 90px;
    .section__title {
        margin-top: 59px;
        margin-bottom: 50px;
    }
}

.create-sales {
    padding-top: 135px;
    .section__header {
        padding-left: 32px;
        .section__title {
            margin-top: 52px;
            margin-bottom: 38px;
        }
    }
}

.industry-section {
    .banner__layer-info {
        padding-left: 0;
        .free-btn {
            position: relative;
            top: -3px;
        }
    }
    .logo-layer img {
        margin: auto;
        position: static;
    }
}

.track-stock {
    padding-top: 153px;
    .section__header {
        padding-left: 48px;
        .section__title {
            margin-bottom: 41px;
            margin-top: 4px;
        }
    }
}

.performance {
    padding-top: 195px;
    .section__header {
        padding-left: 30px;
        .section__title {
            margin-bottom: 48px;
            margin-top: 24px;
        }
    }
}

.add-club {
    padding-top: 142px;
    .section__header {
        padding-left: 42px;
        .section__title {
            margin-top: 20px;
            margin-bottom: 42px;
        }
    }
}

.free-industry {
    height: 600px;
    overflow: hidden;
     @media (max-width: map-get($breakpoints, 'small' )) {
        height: auto;
    }
    .container {
        height: 100%;
        .banner__layer-info {
            padding-left: 60px;
            h2 {
                font-size: 45px;
                line-height: 1.5;
            }
            p {
                top: -6px;
            }
        }
        .row {
            height: 100%;
            img {
                position: absolute;
                top: -215px;
                left: 65px;
                @media (max-width: map-get($breakpoints, 'small' )) {
                    width: 100%;
                    position: static;
                }
            }
        }
    }
}

.industry-promises {
    padding-top: 38px;
    .banner__layer {
        margin-top: 234px;
    }
}

[dir=rtl] {
    .free-industry { 
        img {
            left: -220px !important;
        }
    }
}