/// module
.module {
    .section-intro-content {
        .intro__title {
            margin-top: 0;
        }
    }
}

/// free-module
.free-module {
    padding-top: 120px;
    padding-bottom: 0;
    .row {
        align-items:  center;
    }
}

/// track-sales
.track-sales {
    padding-top: 115px;
    .section__header{
        .section__title {
            margin-top: 0;
            margin-bottom: 45px;
        }
        .section__desc {
            margin-bottom: 31px;
        }
    }
    .sales__actions {
        margin-top: 50px;
        @media (max-width: map-get($breakpoints, 'small' )) {
            margin-top: 10px;
        }
    }
}

///section-quotes
.section-quotes {
    padding-top: 152px;
    .section__header {
        padding-left: 38px;
        .section__title {
            margin-top: 22px;
            margin-bottom: 44px;
        }
    }
}

/// register-customer
.register-customer {
    padding-top: 189px;
    .section__header {
        padding-left: 40px;
        .section__title {
            margin-bottom: 58px;
        }
    }
}

/// boost sales
.boost-sales {
    padding-top: 39px;
    h2 {
        font-family: 'GilroyBold';
        font-size: 48px;
        text-align: center; 
        color: #181c32;
        @media (max-width: map-get($breakpoints, 'small' )) {
            font-size: 32px;
        }
        span {
            color: #0000FB;
        }
    }

    .boost-sales-items {
        display: flex;
        text-align: center;
        width: 83%;
        margin: 45px auto 0 auto;
        @media (max-width: map-get($breakpoints, 'small' )) {
            flex-wrap: wrap;
        }
        .boost-sales-item {
            margin-right: 5.6%;
            width: 15%;
            @media (max-width: map-get($breakpoints, 'small' )) {
                width: 50%;
                margin-right: 0;
                margin-bottom: 20px;

                &:first-of-type { order: 5 }
                &:nth-of-type(2) { order: 2 }
                &:nth-of-type(3) { order: 3 }
                &:nth-of-type(4) { order: 1}
                &:last-of-type { order: 4; }
            }
            &:last-of-type { order: 4;margin-right: 0; }
            > div {
                min-height: 85px;
                @media (max-width: map-get($breakpoints, 'small' )) {
                    min-height: 55px;
                }
            }
            img {
                display: block;
                width: 69px;
                margin: 11px auto;
                @media (max-width: map-get($breakpoints, 'small' )) {
                    width: 44px;
                }
            }
            span {
                font-size: 20px;
                font-family: 'GilroyExtraBold';
                text-decoration: underline;
                @media (max-width: map-get($breakpoints, 'small' )) {
                    font-size: 16px;
                }
            }
        }
    }
}

/// customize industry
.customize-industry {
    background-image: url(../images/customize-ind.png);
    height: 847px;
    background-position: -330px -26px;
    background-size: 2344px;
    @media (max-width: map-get($breakpoints, 'small' )) {
        height: auto;
    }
    @media (min-width: 1600px) {
        background-position: -330px -127px;
        background-size: 2849px;
    }
    .customize-info {
        width: 50%;
        margin: auto;
        text-align: center;
        @media (max-width: map-get($breakpoints, 'small' )) {
            width: auto;
        }
        img {
            margin-bottom: 40px;
            width: 34%;
            @media (max-width: map-get($breakpoints, 'small' )) {
                width: 100px;
                margin-bottom: 20px;
            }
        }
        h2 {
            font-size: 50px;
            margin-top: 25px;
            font-family: 'GilroyExtraBold';
            @media (max-width: map-get($breakpoints, 'small' )) {
                font-size: 25px;
            }
        }
    }
}

/// promises
.promises {
    &.promises-modules {
        top: 109px;
    }
    .banner__layer {
        margin-top: 245px;
    }
}

/// free-m 
.free-m {
    .row {
        align-items: center;
    }
}