.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 19px;
    margin: 0 15px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $main-color;
        -webkit-transition: .4s;
        transition: .4s;
        &:before {
            position: absolute;
            content: "";
            height: 11px;
            width: 11px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }

    input:checked + .slider {
        background-color: $main-color;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px $main-color;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(18px);
        -ms-transform: translateX(18px);
        transform: translateX(18px);
    }
    .slider.round {
        border-radius: 34px;
    }
    .slider.round:before {
        border-radius: 50%;
    }
}

.switcher {
    display: flex;
    align-items: center;
    margin: 15px 0;
    @media (max-width: map-get($breakpoints, 'small' )) {
        display: none;
    }
    > span {
        font-size: 20px;
        font-family: 'GilroyBold';
        color: #4E5381;
        opacity: 0.5;
        &.active {
            opacity: 1
        }
        &.annual {
            span {
                color: $main-color;
            }
        }
    }
}

.switcher2 {
    flex-direction: column  !important;
    flex: 1;
    align-items: flex-start;

    > span {
        font-size: 14px;
    }
    .switch {
        height: 15px;
        margin: 5px 0;
    }
    .switch .slider:before {
        height: 9px;
        width: 9px;
        bottom: 3px;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(18px);
        -ms-transform: translateX(18px);
        transform: translateX(18px);
    }
}

.start-free {
    padding-top: 78px;
    .container {
        display: flex;
        justify-content: space-between;
        @media (max-width: map-get($breakpoints, 'small' )) {
            flex-direction:column ;
        }
    }
    .left-column {
        width: 40%;
        @media (max-width: map-get($breakpoints, 'small' )) {
            width: 100%;
        }
        h2 {
            font-family: 'GilroyExtraBold';
            font-size: 50px;
            margin-bottom: 50px;
            @media (max-width: map-get($breakpoints, 'small' )) {
                font-size: 35px;
            }
        }
        
        
    }
    .right-column {
        width: 30%;
        @media (max-width: map-get($breakpoints, 'small' )) {
            width: 100%;
        }
        h2 {
            font-family: 'GilroyExtraBold';
            font-size: 50px;
            @media (max-width: map-get($breakpoints, 'small' )) {
                font-size: 32px;
            }
        }
        p {
            color: #A7A9C0;
            font-family: 'GilroyRegular';
            &:first-of-type {
                font-size: 30px;
                @media (max-width: map-get($breakpoints, 'small' )) {
                    font-size: 19px;
                }
            }
            &:last-of-type {
                font-size: 17px;
                @media (max-width: map-get($breakpoints, 'small' )) {
                    font-size: 14px;
                }
            }
        }
    }
}

// plans 
.plans {
    .currency {
        font-size: 14px !important;
        margin-right: 4px;
        font-weight: bold;
    }
}
/// plans panles
.plans-panels {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .price-box {
        width: 290px;
        background: #fff;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
        padding: 20px;
        @media (max-width: map-get($breakpoints, 'small' )) {
            width: auto;
            padding: 8px;
        }
        &.best-val {
            border: 5px solid $main-color;
            position: relative;
            top: -5px;
        }
        &-title {
            display: flex;
            justify-content: space-between;
            @media (max-width: map-get($breakpoints, 'small' )) {
                flex-direction: column;
            }
            span {
                font-size: 22px;
                font-family: 'GilroyBold';
                @media (max-width: map-get($breakpoints, 'small' )) {
                    font-size: 12px;
                }
                @media (max-width: 400px) {
                    font-size: 8px;
                }
                &.popular {
                    font-family: 'GilroyRegular';
                    color: #36A592;
                }
                &.best-val {
                    font-family: 'GilroyRegular';
                    color: $main-color;
                }
                &.unlimit {
                    font-family: 'GilroyRegular';
                    color: #F37434;
                }
            }
        }
        .price {
            margin: 20px 0;
            .dollar {
                position: relative;
                top: -40px;
                @media (max-width: map-get($breakpoints, 'small' )) {
                    top: -10px;
                }
                @media (max-width: 400px) {
                    top: 0;
                }
            }
            .number {
                font-family: 'GilroyExtraBold';
                font-size: 50px;
                @media (max-width: map-get($breakpoints, 'small' )) {
                    font-size: 20px;
                }
                @media (max-width: 400px) {
                    font-size: 16px;
                }
            }
            .month {
                font-family: 'GilroyMedium';
                font-size: 17px;
                @media (max-width: map-get($breakpoints, 'small' )) {
                    display: block;
                }
                @media (max-width: 400px) {
                    font-size: 11px;
                }
            }
        }
        p {
            @media (max-width: map-get($breakpoints, 'small' )) {
                display: none;
            }
            > span {
                font-family: 'GilroyBold';
                > span {
                    font-size: 17px;
                }
            }
            i {
                color: #4E5381;
                opacity: 0.5
            }
            + span.dollar-mob {
                display: none;
                @media (max-width: map-get($breakpoints, 'small' )) {
                    display: block;
                    font-size: 12px;
                }
                @media (max-width: 400px) {
                    font-size: 8px;
                }
                .currency {
                    font-weight: normal;
                    font-size: 12px !important;
                }
            }
        }
        button {
            width: 220px;
            height: 50px;
            border-radius: 4px;
            background: $darken-color;
            box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.16);
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            font-family: 'GilroyExtraBold';
            &.best-val {
                background-color: $main-color;
            }
            @media (max-width: map-get($breakpoints, 'small' )) {
                display: none !important;
            }
        }
    }
}


/// plans table
.plans-table {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border-top: 4px solid $darken-color;
    table-layout: fixed;
    word-wrap: break-word;
}

.plans-table-title-wrap {
    display: flex;
    align-items: center;
}

.plans-table tr td {
    vertical-align: middle;
}

.plans-table tr td:first-of-type {
    width: 31.8%;
}

@media (max-width: 768px) {
    .plans-table tr td:first-of-type {
        width: 49%;
    }
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.scalability-table-wrapper tr td i {
    bottom: auto !important;
}

@media (max-width: 768px) {
  .scalability-table-wrapper tr td {
        width: auto;
  }
}

.plans-table tbody tr:nth-of-type(odd) {
    background-color: #fff;
}

.plans-table tbody tr:nth-of-type(even) {
    background: #f6f9fc;
}

.table-wrapper-title {
    font-family: 'GilroyRegular';
    font-weight: bold;
    font-size: 18px;
    color: #4e5381;
}

.plans-table tr td .th-icon {
    font-size: 16px;
    color:$darken-color;
    margin-right: 15px;
    margin-left: 15px;
}

.plans-table tr td img {
    margin: 0px 15px;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
}

.plans-table tr td img + span {
    position: relative;
    top: 3px;
}
@media (max-width: 768px) {
  .plans-table tr td img {
    margin: 0px 5px 0 0;
    width: 10px;
  }
  .plans-table tr td img + span {
    font-size: 14px;
    top: 1px;
  }
}

.plans-table tr td .plans-table-title-wrap > span {
    font-family: 'GilroyRegular';
    font-weight: 500;
    font-size: 18px;
    color: #4e5381;
}

.plans-table tr td .plans-table-title-wrap > span > span {
    font-family: 'GilroyRegular';
    font-weight: 500;
    font-size: 16px;
    color: #4e5381;
    opacity: 0.5;
}

@media (max-width: 768px) {
  .plans-table tr td .th-icon {
    margin: 0 10px 0 0;
    font-size: 19px;
  }
  .plans-table tr td .plans-table-title-wrap > span {
    font-size: 13px;
    display: inline-block;
  }
  [dir=rtl] .plans-table tr td .th-icon {
      margin: 0 0 0 10px;;
  }
}

.plans-table tr td p {
    margin: 0;
    text-align:center;
}

.plans-table tr td p span.price {
    font-family: 'GilroyRegular';
    font-weight: bold;
    font-size: 20px;
    color: #4e5381;
    margin-right: 5px;
    display: inline-block;
}

.plans-table tr td p span.month {
    font-family: 'GilroyRegular';
    font-weight: 500;
    font-size: 16px;
    color: #4e5381;
    opacity: 0.5;
}

.plans-table tr td.employee-record {
    padding-left: 60px;
}
@media (max-width: 768px) {
  .plans-table tr td.employee-record {
    padding-left: 12px;
  }
  .plans-table tr td p span.price {
      font-size: 14px;
      margin-right: 0;
  }
}

.plans-table tr td i.check-icon,
.plans-table tr td i.x-icon {
    font-size: 10px;
    color: #fff;
    width: 18px;
    height: 18px;
    display: block;
    margin: auto;
    text-align: center;
    line-height: 19px;
    border-radius: 50%;
}

.plans-table tr td i.check-icon {
    background: $darken-color;
}

.plans-table tr td i.x-icon {
    background: #E41920;
}

.modules-more-table-wrapper {
    display: none;
}

.modules-more-table-wrapper tr {
    background-color: #fff !important;
}

.modules-more-table-wrapper tr td {
    border-top: 0;
    vertical-align: middle;
}

.modules-more-table-wrapper tr.tr-header + tr td {
    padding-top: 30px;
}

.modules-more-table-wrapper tr.tr-header {
    background-color: #f6f9fc !important;
}

.modules-more-table-wrapper tr.tr-header td span {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 768px) {
  .modules-more-table-wrapper tr.tr-header td span {
    vertical-align: middle;
  }
}

.plans-table .modules-more-title {
  padding-left: 66px;
}

@media (max-width: 768px) {
  .plans-table .modules-more-title {
    padding-left: 12px;
  }
  .plans-table .modules-more-title span{
    font-size: 12px;
  }
}

.plans-table .modules-more-title .plans-table-title-wrap > span {
  font-size: 16px;
}

.plans .show-more,
.plans .show-less {
    font-size: 18px;
    border-radius: 4px;
    background: none;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    color: #213242;
    font-family: 'GilroyBold';
    font-weight: bold;
    text-decoration: underline;
    border: 0;
    display: block;
    margin: auto;
    outline: 0;
    cursor: pointer;
}

.plans .show-less {
    display: none;
}

.plans .show-more:hover,
.plans .show-less:hover {
    opacity: 0.8;
}
.price-box  {
    margin-bottom: 0 !important;
}

.billed {
    @media(max-width: 768px) {
        display: none !important;
    }
}

.text {
    .start-plan-btn {
        display:inline-block;
        padding: 20px;
        border-radius: 4px;
        background: $main-color;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.16);
        font-family: "GilroyExtraBold";
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
        color: #fff;
        margin: 50px 0;
        @media (max-width: map-get($breakpoints, 'small' )) {
            font-size: 14px;
            margin: 20px 0;
        }
    }

    p {
        padding: 10px;
        &:first-of-type {
            font-size: 18px;
            font-family: 'GilroySemiBold';
            @media (max-width: map-get($breakpoints, 'small' )) {
                margin-bottom: 0;
                font-size: 14px;
            }
        }
        &:last-of-type {
            color: #6B6B6E;
            font-size: 16px;
            font-family: 'GilroyMedium';
            margin-bottom: 30px;
            @media (max-width: map-get($breakpoints, 'small' )) {
                margin-bottom: 10px;
                font-size: 12px;
            }
        }
    }
}

[dir=rtl] {
    .switcher {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
}