.success-partners {
    background: whitesmoke;
    .sm-space {
        padding: 20px;
    }
    .section-desc {
        font-size: 19px;
        h3 {
            color: #005aaa;
            font-size: 25px;
            font-weight: 400;
            margin-bottom: 15px;
            .flag {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
    }
    .country-box-item {
        margin-bottom: 35px;
    }
    .agen_item {
        background: #fcfcfc;
        padding: 20px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        padding: 10px;
        .media-agenc {
            width: 100px;
            height: 100px;
            vertical-align: middle;
            display: table-cell;
            text-align: center;
            .agency_logo {
                max-width: 90px;
                vertical-align: middle;
            }
        }
        .agen-body {
            vertical-align: top;
            display: table-cell;
            padding-right: 10px;
            font-size: 15px;
            @media (max-width: map-get($breakpoints, 'small' )) {
                display:block
            }
            .business_name {
                font-size: 20px;
                color: #000;
            }
        }
    }
}