/// footer
footer {
    background-color: $darken-color;
    .footer__item {
        @media (max-width: map-get($breakpoints, 'small' )) {
            margin-bottom: 25px;
        }
        h2 {
            font-size: 20px;
            font-family: 'GilroyBold';
            color: $white-color;
            margin-bottom: 20px;
        }
        a {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 14px;
            color: $white-color;
            &.logo {
                margin-top: 25px;
            }
            i {
                margin-right: 10px;
            }
        }
    }
    hr {
        border: 0;
        height: 1px;
        display: block;
        background-color: $white-color;
        margin: 25px 0 ;
    }

    .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $white-color;
        font-size: 16px;
        @media (max-width: map-get($breakpoints, 'small' )) {
            margin-bottom: 35px;
            flex-direction: column;
            
        }
        a {
            color: $white-color;
            font-size: 14px;
            @media (max-width: map-get($breakpoints, 'small' )) {
                font-size: 12px;
            }
        }
        .copyright {
            @media (max-width: map-get($breakpoints, 'small' )) {
                font-size: 12px;
            }
            i {
                @media (max-width: map-get($breakpoints, 'small' )) {
                    display: block;
                }
            }
            @media (max-width: map-get($breakpoints, 'small' )) {
                margin-bottom: 15px;
            }
        }
    }
}


[dir=rtl] {
    .footer__item {
        i {
            transform: rotate(-180deg);
            margin-right: 0;
        }
    }
    .footer-bottom {
        @media (max-width: map-get($breakpoints, 'small' )) {
            align-items: flex-start;
        }
    }
}