.header-fixed {
  &.pd {
    padding-top: 130px;
  }
}
header {
  width: 100%;
  z-index: 999;
  padding-top: 40px;
  &.fixed {
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.1);
    padding-top: 0;
    top: 0;
  }
  .container {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  margin-bottom: 30px;
  @media (max-width: map-get($breakpoints, "small" )) {
    z-index: 9999;
    background: $white-color;
    left: 0;
    right: 0;
    top: 0;
    padding: 0px 20px;
    box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.1);
  }
  .logo {
    display: block;
    max-width: 140px;
    @media (max-width: map-get($breakpoints, "small" )) {
      max-width: 115px;
    }
    img {
      width: 100%;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    margin: 5px -74px 0 0;
    @media (max-width: map-get($breakpoints, "small" )) {
      margin: 0;
    }
    li {
      margin-left: 25px;
      &.get-stated-free-link  {
        display: flex;
        align-items: center;
        position: relative;
        left: -10px;

        .ar-lang {
          color: #717171;
          font-family: 'CairoExtraBold';
        }
      }
      @media (max-width: map-get($breakpoints, "small" )) {
        display: none;

        &.bars-icon {
          display: block;
          margin-left: 20px !important;
        }

        &.login-link {
          display: block;
        }

        &.get-stated-free-link  {
          display: none;

        }
        
      }

      &:nth-child(-n + 6) {
        margin-left: 36px;
      }

      a {
        font-size: 16px;
        display: block;
      }
    }
  }
}

[dir=rtl] {
  .login-link {
    margin-left: 0!important;
  }
  .get-stated-free-link {
    .register {
      margin-left: 10px !important;
    }
  }
  
  @media (max-width: map-get($breakpoints, "small" )) {
    header .nav-links li.bars-icon {
      margin-left: 0 !important;
      margin-right: 20px !important;
    }
  }
}