
/// Copy text color
$text-color: #213242;

/// main color
$main-color: #0000FF;

/// Blue Color
$blue-color: #0000FF;

/// darken Blue
$darken-color: $main-color;
@if ($main-color == #0000FF) {
  $darken-color: #0033a5
} @else if($main-color == #00B6A6){
  $darken-color: #02867b
} @else {
  $darken-color: $main-color;
}

/// sky green color
$sky-green-color: #00B6A6;

/// white color
$white-color: #fff;

/// Container's maximum width
$max-width: 1180px !default;

/// Breakpoints map
$breakpoints: (
  'xsmall': 575px,
  'small': 991px,
  'large': 1024px,
);

